In [1]:
# Number of digits until N

n = int(input())
count = 0

for i in range(1 , n + 1):
    digit = len(str(i))
    count = count + digit

print(count)

10
11

In [2]:
# Sum of N terms in a series

x = int(input())
n = int(input())
sum = 0
power = 1

for i in range(1 , n + 1):
    term = x ** power
    power = power + 2
    if i % 2 == 0:
        term = - term
    sum = sum + term

print(sum)

2
5
410

In [3]:
# More than Two Factors

n = int(input())
count = 0

for i in range(1 , n + 1):
    if n % i == 0:
        count = count + 1

if count > 2:
    print("Number has more than 2 factors")
else:
    print("Number doesn't have more than 2 factors")

6
Number has more than 2 factors

In [4]:
# Right angled triangle - 6

n = int(input())

for i in range(2):
    for i in range(1 , n + 1):
        print("* " * i )

5
*
* *
* * *
* * * *
* * * * *
*
* *
* * *
* * * *
* * * * *

In [5]:
# Diamond -2

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (n - i)
    number = (str(i) + " ") * i
    row = spaces + number
    print(row)

for j in range(1 , n):
    spaces = " " * j
    number = (str(n - j) + " ") * (n - j)
    row = spaces + number
    print(row)

5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [6]:
# Inverted Right angled triangle - 6

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (2 * (i - 1))
    stars = "* " * (n + 1 - i)
    row = spaces + stars
    print(row)

5
* * * * *
  * * * *
    * * *
      * *
        *

In [8]:
# W shape with *

n = int(input())

print("* " * ((2 * n) - 1))
for i in range(1 , n):
    stars = "* " * (n - i)
    spaces = " " * (i)
    spaces2 = " " * (2 * (i - 1))
    row = spaces + stars + spaces2 + stars
    print(row)

5
* * * * * * * * *
 * * * * * * * *
  * * *   * * *
   * *     * *
    *       *