In [7]:
# Product of number divisible by 3 from M to N

m = int(input())
n = int(input())
product = 1

for i in range(m , n + 1):
    if i % 3 == 0:
        product = product * i

print(product)

5
10
54

In [6]:
# Sum of K Powers

n = int(input())
k = int(input())
sum = 0

for i in range(1 , n + 1):
    sum = sum + i**k

print(sum)

5
3
225

In [5]:
# Count of Numbers divisible by 6 and 8

n = int(input())
count = 0

for i in range(1 , n + 1):
    if i % 6 == 0 and i % 8 == 0:
        count = count + 1

print(count)

5
0

In [4]:
# Inverted right angled triangle - 3

n = int(input())

print("* " * n)
for i in range(1 , n):
    j = n - i
    row = "+ " * j
    print(row)

5
* * * * *
+ + + +
+ + +
+ +
+

In [3]:
# Two right angled triangles

n = int(input())

for i in range(1 , n + 1):
    print("* " * i)

for j in range(1 , n + 1):
    x = n + 1 - j
    print("* " * x)

5
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
# Find power of number

n = int(input())
m = int(input())

power = 1
for i in range(1 , m + 1):
    power = power * n

print(power)

2
8
256

In [1]:
# Product of numbers from m to m

m = int(input())
n = int(input())

product = 1

for i in range(m , n + 1):
    product = product * i

print(product)

5
6
30