# Even Odd

In [1]:
str_1 = input().split()
even = []
odd = []

for i in  str_1 :
    if int(i)%2==0:
        even.append(int(i))
    else:
        odd.append(int(i))

even.sort()
odd.sort()
print(even)
print(odd)

3 8 5 7 1 6
[6, 8]
[1, 3, 5, 7]

# Extend the list - 2

In [2]:
n = int(input())
result = []

for i in range(n):
    list_input = input().split()
    result.extend(list_input)
result.sort()
print(result)

4
123
6 6 5 4 5
1 2.3 abs
waghraj
['1', '123', '2.3', '4', '5', '5', '6', '6', 'abs', 'waghraj']

# Merge the lists

In [5]:
list_a = input().split()
list_b = input().split()

for i in range(len(list_b)):
    list_a.insert(2*i+1,list_b[i])

print(list_a)

apple mango jackfruit
kiwi grapes peach
['apple', 'kiwi', 'mango', 'grapes', 'jackfruit', 'peach']

# Lists of words

In [3]:
str_1 = input().split()
result = []
for i in str_1:
    if not(i.startswith("a")):
        result.append(i)

print(result)

The favorite dish of all ages was apple pie
['The', 'favorite', 'dish', 'of', 'was', 'pie']

# Count the Occurances - 2

In [4]:
str_1 = input().split()
result = []
for i in str_1:
    if str_1.count(i)%2 != 0 and int(i) not in result:
        result.append(int(i))
result.sort()
print(result)

1 10 1 3 3 3
[3, 10]