# Hyphenate Letters

In [4]:
w = input()
result = ""

for i in w:
    result += i + "-"
result = result.strip("-")
print(result)

Hello
H-e-l-l-o

# Maximun

In [2]:
n = int(input())
maximum = 0
for i in range(1 , n + 1):
    m = int(input())
    if m >= maximum :
        maximum = m
    print(maximum)

6
1
1
0
1
3
3
2
3
9
9
8
9

# Diamond Crystal

In [3]:
n = int(input())

for i in range(1 , n + 1):
    left_spaces = (" ") * (n - i)
    middle_spaces = (" ") * (2*i - 2)
    row = left_spaces + "/" + middle_spaces + "\\"
    print(row)

for i in range(1 , n + 1):
    left_spaces = (" ") * (i - 1)
    middle_spaces = (" ") * (2*(n + 1 - i) - 2)
    row = left_spaces + "\\" + middle_spaces + "/"
    print(row)

10
         /\
        /  \
       /    \
      /      \
     /        \
    /          \
   /            \
  /              \
 /                \
/                  \
\                  /
 \                /
  \              /
   \            /
    \          /
     \        /
      \      /
       \    /
        \  /
         \/