# Pythagoras Triplets

In [8]:
n = int(input())
count = 0

for i in range(1 , n + 1):
    for j in range(i + 1 , n + 1):
        for k in range(j + 1, n + 1):
            if (i**2) + (j**2) == (k**2):
                count = count + 1
print(count)

5
1

# Number in Inverted Right Angled Triangle - 3

In [7]:
s = int(input())
n = int(input())
k = 0
for i in range(1 , n + 1):
    k = k + i

s = k + s - 1
for i in range(1 , n + 1):
    for j in range(1 , n + 2 - i):
        print(s,end=" ")
        s = s - 1
    print()

5
5
19 18 17 16 15
14 13 12 11
10 9 8
7 6
5

# Numbers in Inverted Pyramid

In [6]:
n = int(input())

for i in range(1 , n + 1 ):
    spaces = (" ") * (i - 1)
    print(spaces,end="")
    for j in range(1 , n + 2 - i):
        print(j,end=" ")
    print()

5
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

# Number Diamond

In [5]:
n = int(input())

for i in range(1 , n + 1):
    spaces = (" ") * (n - i)
    print(spaces,end= "")
    for j in range(1 , i + 1):
        print(j,end=" ")
    print()
for i in range(1 , n):
    spaces = (" ") * (i)
    print(spaces,end="")
    for j in range(1,n + 1 - i):
        print(j,end=" ")
    print()

5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

# Indivisible Numbers

In [4]:
n = int(input())
count = 0

for i in range(1, n + 1):
    is_divisible = False
    for j in range(2 , 11):
        if i % j == 0:
            is_divisible = True
    if not is_divisible:
        count = count + 1
print(count)

11
2

# Composite Numbers in the Range

In [3]:
m = int(input())
n = int(input())

for i in range(m , n + 1):
    factors = 0
    for j in range(1,n + 1):
        if i % j == 0:
            factors = factors + 1
    if factors > 2:
        print(i)

2
9
4
6
8
9

# Armstrong numbers between two intervals

In [2]:
m = int(input())
n = int(input())

armstrong = False
for i in range(m , n + 1):
    sum = 0
    power = len(str(i))
    for j in str(i):
        sum = sum + int(j)**power
    if sum == i:
        print(i,end=" ")
        armstrong = True
if not armstrong:
    print("-1")

150
200
153

# Half Pyramid - 4

In [1]:
k = int(input())
n = int(input())
s = 0
for i in range(1 , n + 1):
    s = s + i
s = k + s - 1
for i in range(1 , n + 1):
    for j in range(1 , i + 1):
        print(s,end=" ")
        s = s - 1
    print()

10
5
24
23 22
21 20 19
18 17 16 15
14 13 12 11 10