# Kth Largest Factor - 2

In [1]:
n = int(input())
k = int(input())

for i in range(n):
    if n % (n - i) == 0:
        largest = n - i
        k -= 1
    if k==0:
        break

print(largest)

12
3
4

# First Prime Number

In [2]:
n = int(input())

for i in range(1 , n + 1):
    factors = 0
    m = int(input())
    if m > 1:
        for j in range(2 , m):
            if m % j == 0:
                factors += 1
        if factors==0:
            print(m)
            break

5
1
10
4
4
3
3

# Multiple of 5

In [4]:
n = int(input())

for i in range(1 , n + 1):
    m = int(input())
    if m % 5 == 0:
        break
    print(m)

6
1
1
2
2
3
3
5

# Multiple of 3

In [5]:
n = int(input())

for i in range(1 , n + 1):
    m = int(input())
    if m % 3 == 0:
        print(m)

5
2
3
3
9
9
6
6
2

# Alphabets in Right Angled Triangle

In [6]:
n = int(input())
k = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"

for i in range(1 , n + 1):
    spaces = ("  ") * (n - i)
    print(spaces,end="")
    for j in range(1 , i + 1):
        print(k[j - 1] , end=" ")
    print()

5
        A
      A B
    A B C
  A B C D
A B C D E