# Word Triangle - 2

In [8]:
w = input()
len_of_w = len(w)

for i in range(1, len_of_w + 1):
    index = (len_of_w + 1- i)
    print(w[:index])

game
game
gam
ga
g

# Inverted Right Angled Triangled - 8

In [7]:
n = int(input())

for i in range(1 , n + 1):
    left_spaces = (" ") * (4*(i-1))
    stars = ("* ") *((2*(n + 1 - i)) - 1)
    row = left_spaces + stars
    print(row)

5
* * * * * * * * *
    * * * * * * *
        * * * * *
            * * *
                *

# Shuffle String - 2

In [6]:
s1 = input()
s2 = input()
len_of_s = len(s1)
result = ""

for i in range(len_of_s):
    if i % 2 == 0:
        result = result + s1[i]
    else:
        result = result + s2[i]

print(result)

bring
camel
baieg

# Sum of Even Numbers

In [5]:
n = int(input())
sum = 0

for i in range(1 , n + 1):
    if i % 2 == 0:
        sum = sum + i

print(sum)

5
6

# Sum of Odd Numbers

In [4]:
n = int(input())
sum = 0

for i in range(1 , n + 1):
    if i % 2 != 0:
        sum = sum + i

print(sum)

10
25

# Composite Numbers

In [3]:
n = int(input())
factors = 0

for i in range(1 , n + 1):
    if n % i == 0:
        factors = factors + 1

if factors > 2:
    print("True")
else:
    print("False")

12
True

# Striped Rectangle

In [2]:
m = int(input())
n = int(input())

for i in range(1 , m + 1):
    if i % 2 != 0:
        row = ("+ ") * n
    else:
        row = ("- ") * n
    print(row)

7
5
+ + + + +
- - - - -
+ + + + +
- - - - -
+ + + + +
- - - - -
+ + + + +

# Hollow Rectangle - 2

In [1]:
m = int(input())
n = int(input())

for i in range(1 , m + 3):
    if (i == 1) or (i == m + 2):
        row = ("+") + (("-")*n) + ("+")
    else:
        row = ("|") + ((" ")*n) + ("|")
    print(row)

3
10
+----------+
|          |
|          |
|          |
+----------+