In [9]:
# Rectangle - 3

m = int(input())
n = int(input())

for i in range(1 , m + 1):
    row = str(i) + " "
    print(row * n)

5
3
1 1 1
2 2 2
3 3 3
4 4 4
5 5 5

In [8]:
# print from 0 to N

n = int(input())

for i in range(0 , n + 1):
    print(i)

5
0
1
2
3
4
5

In [7]:
# Avg of N Inputs

n = int(input())

sum = 0
for i in range(n):
    m = int(input())
    sum = sum + m

avg = sum / n
print(avg)

1
2
2.0

In [6]:
# Right angled Triangle - 4

n = int(input())

for i in range(2):
    for j in range(1 , n + 1):
        row = "* "
        print(row * j)

5
*
* *
* * *
* * * *
* * * * *
*
* *
* * *
* * * *
* * * * *

In [5]:
# Product of the numbers from M to N

m = int(input())
n = int(input())
product = 1
for i in range(m , n + 1):
    product = product * i

print(product)

5
7
210

In [4]:
# Sum of N squares

n = int(input())

sum = 0

for i in range(1 , n + 1):
    sum = sum + (i ** 2)

print(sum)

5
55

In [3]:
# Print Integers - 3

n = int(input())

for i in range(1 , n + 1):
    j = n + 1 - i
    print(j)

5
5
4
3
2
1

In [2]:
# Solid Rectangle - 2

m = int(input())
n = int(input())

for i in range(1 , m + 1):
    print("+ " * n)

5
4
+ + + +
+ + + +
+ + + +
+ + + +
+ + + +

In [1]:
# Solid right angled triangle - 2

n = int(input())

for j in range(2):
    for i in range(1 , n + 1):
        row = "* "
        print(row * i)

5
*
* *
* * *
* * * *
* * * * *
*
* *
* * *
* * * *
* * * * *