# Numbers in Inverted Right Angled Triangle - 4

In [2]:
s = int(input())
n = int(input())

s = s - 1
for k in range(1 , n + 1):
    s += k

for i in range(1 , n + 1):
    if ( i==1 ):
        row = ""
        for j in range(1, n + 1):
            row += str(s) + " "
            s -= 1
        print(row)
    elif ( i==n ):
        spaces = (" ") * (2 * (i - 1))
        row = spaces + str(s) + " "
        print(row)
    else:
        spaces = (" ") * (2 * (i - 1))
        row = str(s) + " "
        hollow_spaces = (" ") * (2*(n + 1 - i) - 4)
        row += hollow_spaces
        len_of_hollow_spaces = int(len(hollow_spaces)/2) + 1
        s -= len_of_hollow_spaces
        row += str(s) + " "
        s -= 1
        print(spaces + row)

15
5
29 28 27 26 25
  24     21
    20   18
      17 16
        15

# Numbers in Inverted Hollow Pyramid

In [3]:
s = int(input())
n = int(input())

for i in range(1 , n + 1 ):
    if ( i==1 ):
        row = ""
        for j in range(1 , n + 1):
            row += str(s) + " "
            s += 1
        print(row)
    elif ( i== n):
        spaces = (" ")*(i - 1)
        row = spaces + str(s)
        print(row)
    else:
        row = str(s)
        spaces = (" ")*(i - 1)
        hollow_spaces = (" ")*(2*(n + 1 - i) - 3)
        row += hollow_spaces
        len_of_hollow_spaces = int(len(hollow_spaces)/2) + 1
        s += len_of_hollow_spaces
        row += str(s)
        s += 1
        print(spaces + row)

13
6
13 14 15 16 17 18
 19       23
  24     27
   28   30
    31 32
     33

# Numbers in Hollow Diamond

In [6]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1):
        spaces = (" ") * (n - i)
        row = spaces + "1"
        print(row)
    else:
        spaces = (" ") * (n - i)
        hollow_spaces = (" ") * (2*(i) - 3)
        row = spaces + "1" + hollow_spaces + str(i)
        print(row)
for j in range(1 , n):
    if (j==n - 1):
        spaces = (" ") * j
        row = spaces + "1"
        print(row)
    else:
        spaces = (" ") * j
        hollow_spaces = (" ") * (2*(n - j) - 3)
        row = spaces + "1" + hollow_spaces + str(n - j)
        print(row)

8
       1
      1 2
     1   3
    1     4
   1       5
  1         6
 1           7
1             8
 1           7
  1         6
   1       5
    1     4
     1   3
      1 2
       1

# Sum of Prime Numbers in Inputs

In [5]:
n = int(input())
s = 0

for i in range(1 , n + 1):
    factors = 0
    m = int(input())
    if m > 1:
        for j in range(2 , m):
            if m % j == 0:
                factors += 1
        if factors==0:
            s += m
print(s)

5
2
5
6
8
3
10