# Extract Digits

In [1]:
def get_digits(str_1):
    number = []
    for i in str_1:
        if i.isdigit():
            number += [int(i)]
    return number

str_1 = input()
digits = get_digits(str_1)
print(sum(digits))
print(min(digits))
print(max(digits))

C0d1n8
9
0
8

# Sort and Square the list

In [2]:
list_a = input().split(",")
list_x = []

for num in list_a:
    list_x += [int(num)**2]

print(sorted(list_x))

2,4,1,3,5
[1, 4, 9, 16, 25]

# Largest Sum of Five Element

In [3]:
str_1 = input().split(",")
list_of_numbers = []
for i in str_1:
    list_of_numbers += [int(i)]
list_of_numbers = sorted(list_of_numbers,reverse = True)
print(sum(list_of_numbers[0:5]))

70,43,3,89,65,27,64,75
363

# Sort numbers in list - 2

In [4]:
str_1 = input().split(",")
list_of_numbers = []
for i in str_1:
    list_of_numbers += [int(i)]

print(sorted(list_of_numbers,reverse = True))

16,25,1,5
[25, 16, 5, 1]

# Kth Largest Number in the list

In [5]:
str_1 = input().split(",")
k = int(input())
list_of_numbers = []
for i in str_1:
    list_of_numbers += [int(i)]
list_of_numbers = sorted(list_of_numbers,reverse = True)
print(list_of_numbers[k - 1])

2,3,-1,5
2
3

# Smallest Number in the list

In [6]:
str_1 = input().split(",")
list_of_num = []
for i in str_1:
    list_of_num += [int(i)]
print(min(list_of_num))

35,25,45,64
25

# Second largest number in the list

In [7]:
str_1 = input().split(",")
list_of_num = []
for i in str_1:
    list_of_num += [int(i)]
list_of_num = sorted(list_of_num,reverse = True)
print(list_of_num[1])

13,12,3,25
13

# Largest element in the list

In [8]:
str_1 = input().split(",")
list_of_num = []
for i in str_1:
    list_of_num += [int(i)]
print(max(list_of_num))

2,3,-1,5
5

# Sum of numbers in list

In [9]:
str_1 = input().split()
list_of_num = []
for i in str_1:
    list_of_num += [int(i)]
print(sum(list_of_num))

3 4 7 8
22

# Largest number in the list - 3

In [10]:
str_1 = input().split(",")
k = int(input())
list_of_num = []
for i in str_1:
    list_of_num += [int(i)]
print(max(list_of_num[k:]))

94,39,63,41,56,80,74
2
80

# Sort numbers in list

In [11]:
str_1 = input().split(",")
list_of_num = []
for i in str_1:
    list_of_num += [int(i)]
print(sorted(list_of_num))

7,10,5,1
[1, 5, 7, 10]

# Difference Between Largest ans Smallest Number

In [12]:
str_1 = input().split(",")
list_of_num = []
for i in str_1:
    list_of_num += [int(i)]
a = max(list_of_num)
b = min(list_of_num)
print(a-b)

2,3,-1,5
6