# Print Characters

In [15]:
s = input()
len_of_s = len(s)

for i in range(len_of_s):
    index = int(input())
    print(s[index])

tarc
3
c
1
a
2
r
0
t

# Word Triangle

In [14]:
s = input()
n = len(s)

for i in range(1, n + 1):
    print(s[:i])

Waghraj
W
Wa
Wag
Wagh
Waghr
Waghra
Waghraj

# Square - 4

In [13]:
n = int(input())

for i in range( n ):
    print((str(i) + " ")* n)

5
0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

# Shuffle String

In [12]:
s = input()
len_of_s = len(s)
shuffle_s = ""

for i in range(len_of_s):
    index = int(input())
    shuffle_s = shuffle_s + s[index]

print(shuffle_s)

goindc
5
1
4
2
3
0
coding

# Square - 5

In [11]:
s = int(input())
n = int(input())
row = ""

for i in range(s , s + n):
    row = row + str(i) + " "

for i in range(1, n + 1):
    print(row)

5
3
5 6 7
5 6 7
5 6 7

# Count of zeroes

In [10]:
n = int(input())
count = 0

for i in str(n):
    if i == "0":
        count = count + 1

if count > 3:
    print("Count of zeroes is greater than three")
else:
    print("Count of zeroes is not greater than three")

1030800
Count of zeroes is greater than three

# Number of Even Digits

In [9]:
n = int(input())
count = 0

for i in str(n):
    if int(i) % 2 == 0:
        count = count + 1

if count > 2:
    print("Count of even digits is greater than two")
else:
    print("Count of even digits is not greater than two")

2563408
Count of even digits is greater than two

# Prime Number

In [8]:
n = int(input())
factors = 0

for i in range(2 , n):
    if n % i == 0:
        factors = factors + 1

if factors == 0:
    print("Prime Number")
else:
    print("Not a Prime Number")

5
Prime Number

# Right Angled Triangle - 10

In [7]:
n = int(input())

for i in range(1 , n + 1):
    stars = ("* ") * (i*2 - 1)
    print(stars)

5
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

# Inverted Right Angled Triangle - 7

In [6]:
n = int(input())

for i in range(1 , n + 1):
    stars = ("* ") * (n + 1 - i)
    print(stars)

5
* * * * *
* * * *
* * *
* *
*

# Hollow Square - 2

In [5]:
n = int(input())

for i in range(1 , n + 3):
    if (i==1) or (i==(n + 2)):
        row = ("+ ") +(("- ") * n) + ("+ ")
    else:
        row = ("| ") + ((" ") * (2*n)) + ("| ")
    print(row)

5
+ - - - - - +
|           |
|           |
|           |
|           |
|           |
+ - - - - - +

# Case Conversion - 3

In [4]:
s = input()

r = s[0].lower()

for i in s[1:]:
    if i == i.upper():
        r = r + "-" + i.lower()
    else:
        r = r + i

print(r)

TitleCase
title-case

# Numbers in Square Pattern - 1

In [3]:
n = int(input())

for i in range(1 , n + 1):
    number = (str(i) + " ") * n
    print(number)

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

# Numbers in Rectangular Pattern - 1

In [2]:
m = int(input())
n = int(input())

row = ""
for i in range(1 , n + 1):
    row = row + str(i) + " "

for i in range(1 , m + 1):
    print(row)

4
5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

# Pyramid

In [1]:
n = int(input())

k = n
for i in range(1, n + 1):
 spaces = " " * (k - i)
 stars = "* " * i
 print(spaces+stars)

5
    *
   * *
  * * *
 * * * *
* * * * *