In [14]:
# Print Numbers divisible by T

n = int(input())
t = int(input())

for i in range(1 , n + 1):
    if i % t == 0 :
        print(i)

10
3
3
6
9

In [13]:
# Sum of Numbers divisible by T

t = int(input())
m = int(input())
n = int(input())
sum = 0

for i in range(m , n + 1):
    if i % t == 0:
        sum = sum + i

print(sum)

2
5
9
14

In [12]:
# Count of numbers divisible by T

n = int(input())
t = int(input())
count = 0

for i in range(1 , n + 1):
    if i % t == 0:
        count = count + 1


print(count)

15
78
0

In [11]:
# Print numbers divisible by 2 and 3

n = int(input())

for i in range(1 , n + 1):
    if i % 2 == 0 and i % 3 == 0:
        print(i)

15
6
12

In [10]:
# count numbers divisible by 2 and 3

n = int(input())
count = 0

for i in range(1 , n + 1):
    if i % 2 == 0 and i % 3 == 0:
        count = count + 1

print(count)

50
8

In [9]:
# print required characters

word = input()

for i in word:
    if i == "a" or i == "z":
        print(i)

waghraj
a
a

In [8]:
# print vowels

word = input()

for i in word:
    if (i == "a") or (i == "e") or (i == "i") or (i == "o") or (i == "u"):
        print(i)

waghraj
a
a

In [7]:
# count vowels

word = input()
count = 0

for i in word:
    if (i == "a") or (i == "e") or (i == "i") or (i == "o") or (i == "u"):
        count = count + 1

print(count)

waghraj
2

In [6]:
# print N numbers in reverse

n = int(input())

for i in range(1 , n + 1):
    print(n + 1 - i)

5
5
4
3
2
1

In [5]:
# print from M to N in reverse

m = int(input())
n = int(input())
t = n - m
for i in range(t + 1):
    print(n - i)

2
5
5
4
3
2

In [4]:
# print characters in reverse

word = input()
length = len(word)

for i in range(1 ,length + 1):
    index = length - i
    print(word[index])

scale
e
l
a
c
s

In [3]:
# Print odd numbers from N to M

m = int(input())
n = int(input())
result = ""

t = n - m

for i in range(t + 1):
    odd = n - i
    if odd % 2 != 0:
        result = result + str(odd) + " "

print(result)

1
10
9 7 5 3 1

In [2]:
# Inverted right angeld triangle

n = int(input())

for i in range(1 , n + 1):
    row = "* "
    j = n + 1 - i
    print(row * j)

5
* * * * *
* * * *
* * *
* *
*

In [1]:
# Inverted right angeld triangle - 2

n = int(input())

for i in range(1 , n + 1):
    j = n + 1 - i
    row = str(j) + " "
    print(row * j)

5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1