# Rounding Inputs

In [1]:
n = int(input())

for i in range(1 , n + 1):
    m = float(input())
    print(round(m,2))

3
3.2154
3.22
2.1245
2.12
3.84527
3.85

# Average of numbers from M to N

In [2]:
m = int(input())
n = int(input())

sum = 0
count = 0

for i in range(m , n + 1):
    sum += i
    count += 1

print(sum)
avg = sum / count
print(avg)

5
10
45
7.5

# Sum of N inputs

In [3]:
n = int(input())
s = float(input())
sum = 0

for i in range(1 , n + 1):
    m = float(input())
    sum += m

if round(sum,3) == s:
    print("True")
else:
    print("False")

3
11.087
2.156
3.1415
5.7894
True

# Sum of N terms in series - 2

In [4]:
x = float(input())
n = int(input())
sum = 0

for i in range(1 , n + 1):
    sum += x ** i

print(round(sum,4))

2.14
6
178.4211

# Time Conversion

In [5]:
t = input()

if t.endswith("M"):
    t = int(t[:len(t)-1])
    hours = (t / 60)
    h = str(round(hours,2)) + "H"
    print(h)
elif t.endswith("S"):
    t = int(t[:len(t)-1])
    sec = (t / 3600)
    s = str(round(sec,2)) + "H"
    print(s)

80M
1.33H

# Hollow Diamond - 2

In [6]:
n = int(input())
alpha = 65

for i in range(1 , n + 1):
    if (i==1):
        left_spaces = (" ") * (n - i)
        row = left_spaces + chr(alpha)
        alpha += 1
        print(row)
    else:
        left_spaces = (" ") * (n - i)
        middle_spaces = (" ") * ((2*i) - 3)
        row = left_spaces + chr(alpha) + middle_spaces + chr(alpha)
        alpha += 1
        print(row)
alpha -= 1
for i in range(1 , n):
    if (i== n - 1):
        alpha -= 1
        left_spaces = (" ") * i
        row = left_spaces + chr(alpha)
        print(row)
    else:
        alpha -= 1
        left_spaces = (" ") * i
        middle_spaces = (" ") * (2*(n - i) - 3)
        row = left_spaces + chr(alpha) + middle_spaces + chr(alpha)
        print(row)

10
         A
        B B
       C   C
      D     D
     E       E
    F         F
   G           G
  H             H
 I               I
J                 J
 I               I
  H             H
   G           G
    F         F
     E       E
      D     D
       C   C
        B B
         A

# Diamond - 3

In [7]:
n = int(input())

for i in range(1 , n + 1):
    dots = (". ") * (n - i)
    zeros = ("0 ") * (2*i - 1)
    row = dots + zeros + dots
    print(row)

for i in range(1 , n):
    dots = (". ") * (i)
    zeros = ("0 ") * (2*(n - i) - 1)
    row = dots + zeros + dots
    print(row)

5
. . . . 0 . . . .
. . . 0 0 0 . . .
. . 0 0 0 0 0 . .
. 0 0 0 0 0 0 0 .
0 0 0 0 0 0 0 0 0
. 0 0 0 0 0 0 0 .
. . 0 0 0 0 0 . .
. . . 0 0 0 . . .
. . . . 0 . . . .

# M shape with* - 3

In [8]:
n = int(input())

for i in range(1 , n + 1):
    dots = (". ") * (n - i)
    middle_zeros  = ("0 ") * ((2*(i - 1)) + 1)
    middle_dots = (". ") * (2*(n-i))
    row = dots + middle_zeros + middle_dots + middle_zeros + dots
    print(row)

5
. . . . 0 . . . . . . . . 0 . . . .
. . . 0 0 0 . . . . . . 0 0 0 . . .
. . 0 0 0 0 0 . . . . 0 0 0 0 0 . .
. 0 0 0 0 0 0 0 . . 0 0 0 0 0 0 0 .
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

# Alphabets in Hollow M shape

In [9]:
n = int(input())
alpha = 65
for i in range(1 , n + 1):
    if (i==1):
        left_spaces = (" ") * (n - i)
        middle_spaces = (" ") * (2*(n - i)) + " "
        row = left_spaces + chr(alpha) + middle_spaces + chr(alpha)
        print(row)
        alpha += 1
    else:
        left_spaces = (" ") * (n - i)
        middle_spaces = (" ") * (2*(n - i)) + " "
        hollow = (" ") * (2*i - 3)
        row = left_spaces + chr(alpha) + hollow + chr(alpha) + middle_spaces + chr(alpha) + hollow + chr(alpha)
        print(row)
        alpha += 1

5
    A         A
   B B       B B
  C   C     C   C
 D     D   D     D
E       E E       E

# Hollow Diamond - 3

In [10]:
n = int(input())

for i in range(1 , n + 1):
    stars = ("* ") * (n + 1 - i)
    hollow_spaces = ("  ") * (2*(i - 1))
    row = stars + hollow_spaces + stars
    print(row)
for i in range(1 , n + 1):
    stars = ("* ") * (i)
    hollow_spaces = ("  ") * (2*(n - i))
    row = stars + hollow_spaces + stars
    print(row)

8
* * * * * * * * * * * * * * * *
* * * * * * *     * * * * * * *
* * * * * *         * * * * * *
* * * * *             * * * * *
* * * *                 * * * *
* * *                     * * *
* *                         * *
*                             *
*                             *
* *                         * *
* * *                     * * *
* * * *                 * * * *
* * * * *             * * * * *
* * * * * *         * * * * * *
* * * * * * *     * * * * * * *
* * * * * * * * * * * * * * * *