In [10]:
# Number of digits from M to N

m = int(input())
n = int(input())
count = 0
for i in range(m , n + 1):
    digit = len(str(i))
    count = count + digit

print(count)

4
25
38

In [9]:
# Divisible by 6

m = int(input())
n = int(input())
result = ""
count = 0

for i in range(m , n + 1):
    if i % 6 == 0:
        result = result + str(i) + " "
        count = count + i

if count == 0:
    print("No Numbers Found")
else:
    print(result)

1
100
6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [8]:
# Vowels of a string - 2

string = input()
count = 0

for i in string:
    vowels = (i=="a") or (i=="e") or (i=="i") or (i=="o") or (i=="u")
    if vowels:
        count = count + 1

if count > 2:
    print("String has more than two vowels")
else:
    print("String doesn't have more than two vowels")

indian
String has more than two vowels

In [7]:
# Smallest among N numbers

n = int(input())

first = int(input())
smallest = first

for i in range(n-1):
    m = int(input())
    if m < smallest:
        smallest = m

print(smallest)

5
8
11
25
35
14
8

In [6]:
# Divisible by 9 in the range

m = int(input())
n = int(input())
count = 0
result = ""

for i in range(m , n + 1):
    if i % 9 == 0:
        count = count + 1
        result = result + str(i) + " "

if count == 0:
    print("No Numbers found")
else:
    print(result)

5
100
9 18 27 36 45 54 63 72 81 90 99

In [5]:
# 2 series

n = int(input())

for i in range(1 , n + 1):
    print("2" * i)

5
2
22
222
2222
22222

In [4]:
# Sum of N terms in 2 series

n = int(input())
sum = 0

for i in range(1 , n + 1):
    term = "2" * i
    sum = sum + int(term)

print(sum)

3
246

In [3]:
# Sum of N terms in 1 series

n = int(input())
sum = 0

for i in range(1, n + 1):
    term = "1" * i
    sum = sum + int(term)

print(sum)

4
1234

In [1]:
# Sum of N term in X series

x = int(input())
n = int(input())
sum = 0

for i in range(1 , n + 1):
    term = str(x) * i
    sum = sum + int(term)

print(sum)

7
4
8638

In [2]:
# Sum of N terms in X square series

x = int(input())
n = int(input())
sum = 0

for i in range(1 , n + 1):
    term = str(x) * i
    sum = sum + int(term)**2

print(sum)

4
3
199088