# Largest Factor Of a number

In [7]:
n = int(input())

for i in range(1 , n):
    if n % i == 0:
        largest = i

print(largest)

15
5

# Digit - 9

In [6]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1 or i == n):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 2)
        row = ("* ") + spaces + ("* ")
        print(row)

for j in range(1 , n):
    if (j == n - 1):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 1)
        row = spaces + ("* ")
        print(row)

8
* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *
              *
              *
              *
              *
              *
              *
* * * * * * * *

# Pyramid - 9

In [5]:
n = int(input())

for i in range(1 , n + 1):
    dots = (". ") * (n - i)
    zeros = ("0 ") * (2*i - 1)
    row = dots + zeros + dots
    print(row)

8
. . . . . . . 0 . . . . . . .
. . . . . . 0 0 0 . . . . . .
. . . . . 0 0 0 0 0 . . . . .
. . . . 0 0 0 0 0 0 0 . . . .
. . . 0 0 0 0 0 0 0 0 0 . . .
. . 0 0 0 0 0 0 0 0 0 0 0 . .
. 0 0 0 0 0 0 0 0 0 0 0 0 0 .
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

# Digit - 3

In [4]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1 or i==n):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * ( n - 1)
        row = spaces + ("* ")
        print(row)

for j in range(1, n):
    if ( j==n - 1):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 1)
        row = spaces + ("* ")
        print(row)

8
* * * * * * * *
              *
              *
              *
              *
              *
              *
* * * * * * * *
              *
              *
              *
              *
              *
              *
* * * * * * * *

# Digit - 5

In [3]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1 or i==n):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 1)
        row = ("* ") + spaces
        print(row)

for j in range(1 , n):
    if (j==n-1):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 1)
        row = spaces + ("* ")
        print(row)

8
* * * * * * * *
*
*
*
*
*
*
* * * * * * * *
              *
              *
              *
              *
              *
              *
* * * * * * * *

# Alphabets in Hollow Rectangle

In [2]:
aplpa = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
m = int(input())
n = int(input())
k = 1
for i in range(1 , m + 1):
    for j in range(1 ,n + 1):
        if (i==1 or i==m or j==1 or j==n):
            print(aplpa[k - 1],end=" ")
            k += 1
        else:
            print(" " ,end=" ")
            k += 1
    print()

4
5
A B C D E
F       J
K       O
P Q R S T