In [13]:
# Prints the digits of number

n = int(input())
result = ""

integer = str(n)

for i in integer:
    result =result + i + " "

print(result)

165
1 6 5

In [12]:
# Sum of digits

n = int(input())
integer = str(n)
sum = 0

for i in integer:
    sum = sum + int(i)

print(sum)

10
1

In [11]:
# Factorial

n = int(input())

product = 1

for i in range(1 , n + 1):
    product = product * (n + 1 - i)

if n == 0:
    fact = 1
else:
    fact = product

print(fact)

5
120

In [10]:
# Sum of Cubes

n = int(input())

sum = 0
for i in range(1 , n + 1):
    sum = sum + i**3

print(sum)

3
36

In [9]:
# Sum and avg of 10 Inputs

sum = 0

for i in range(1 , 11):
    m = int(input())
    sum = sum + m

avg = sum / 10
print(sum)
print(avg)

1
2
3
4
5
6
7
8
9
10
55
5.5

In [8]:
# sum of squares from M to N

m = int(input())
n = int(input())

sum = 0
for i in range(m , n + 1):
    sum = sum + i**2

print(sum)

2
4
29

In [7]:
# print even numbers up to N

n = int(input())

for i in range(1 , n + 1):
    if i % 2 == 0 :
        print(i)

10
2
4
6
8
10

In [6]:
#  print odd numbers from M to N

m = int(input())
n = int(input())
result = ""
for i in range(m , n + 1):
    if i % 2 != 0 :
        result = result + str(i) + " "

print(result)

2
10
3 5 7 9

In [5]:
# Sum of even numbers upto N

n = int(input())
sum = 0

for i in range(1 , n + 1):
    if i % 2 == 0 :
        sum = sum + i

print(sum)

6
12

In [4]:
# Sum of odd numbers upto N

n = int(input())
sum = 0

for i in range(1 , n + 1):
    if i % 2 != 0 :
        sum = sum + i

print(sum)

6
9

In [3]:
# Sum of even numbers from M to N

m = int(input())
n = int(input())
sum = 0

for i in range(m , n + 1):
    if i % 2 == 0 :
        sum = sum + i

print(sum)

2
6
12

In [2]:
# product of odd numbers from M to N

m = int(input())
n = int(input())
product = 1

for i in range(m , n + 1):
    if i % 2 != 0 :
        product = product * i

print(product)

2
7
105

In [1]:
# sum of odd numbers from M to N

m = int(input())
n = int(input())
sum = 0

for i in range(m , n + 1):
    if i % 2 !=  0 :
        sum = sum + i

print(sum)

5
13
45