# Numbers in Square

In [13]:
n = int(input())

for i in range(1, n + 1):
    for j in range(1 , n + 1):
        print(j,end=" ")
    print()

5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

# Numbers in Right Angled Triangle

In [12]:
n = int(input())

for i in range(1 , n + 1):
    for j in range(1, i + 1):
        print(j,end=" ")
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Numbers in Rectangle

In [11]:
m = int(input())
n = int(input())

for i in range(1 , m + 1):
    for j in range(1 , n + 1):
        print(6 + j,end = " ")
    print()

2
3
7 8 9
7 8 9

# Numbers in Pyramids

In [10]:
s = int(input())
n = int(input())

for i in range(1 , n + 1):
    k = s
    spaces = (" ") * (n - i)
    print(spaces , end = "")
    for j in range(1, i + 1):
        print(k , end = " ")
        k = k + 1
    print()

7
5
    7
   7 8
  7 8 9
 7 8 9 10
7 8 9 10 11

# Numbers in Square - 2

In [9]:
n = int(input())

for i in range(1 , n + 1):
    for j in range(1 , n + 1):
        print(n + 1 - j,end=" ")
    print()

5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

# Numbers in Right Angled Triangle - 2

In [8]:
n = int(input())

for i in range(1 , n + 1):
    spaces = (" ") * (2*(n - i))
    print(spaces,end="")
    for j in range(1, i + 1):
        print(i , end=" ")
        i = i - 1
    print()

5
        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

# Armstron Numbers from 1 to N

In [7]:
n = int(input())

for i in range(1 , n + 1):
    sum = 0
    for j in str(i):
        power = len(str(i))
        sum = sum + (int(j) ** power)
    if sum == i:
        print(i)

100
1
2
3
4
5
6
7
8
9

# Prime Numbers from 1 to N

In [6]:
n = int(input())

for i in range(2 , n + 1):
    factors = 0
    for j in range(2,i):
        if i % j == 0:
            factors = factors + 1
    if factors == 0:
        print(i)

11
2
3
5
7
11

# Prime Numbers from M to N

In [5]:
m = int(input())
n = int(input())
number = ""
found_prime = False

for i in range(m , n + 1):
    if i > 1 :
        factors = 0
        for j in range(2, i):
             if i % j == 0:
                factors = factors + 1
        if factors == 0:
            print(i,end= " ")
            found_prime = True

if not(found_prime):
    print("No Prime Numbers Found")

3
15
3 5 7 11 13

# Numbers in Rectangle - 2

In [4]:
m = int(input())
n = int(input())
k = 1
for i in range(1 , m + 1):
    for j in range(1 , n + 1):
        print(k,end=" ")
        k = k + 1
    print()

2
4
1 2 3 4
5 6 7 8

# Numbers in Inverted Right Angled Triangle

In [3]:
n = int(input())

for i in range(n):
    for j in range(1 , n + 1 - i):
        print(j,end=" ")
    print()

5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# Half Pyramid - 2

In [2]:
n = int(input())
k = 1

for i in range(1 , n + 1):
    for j in range(1 , i + 1):
        print(k,end=" ")
        k = k + 1
    print()

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# Prime Numbers From M to N

In [1]:
m = int(input())
n = int(input())

for i in range(m , n + 1):
    if i > 1:
        factors = 0
        for j in range(2,i):
            if i % j == 0:
                factors = factors + 1
        if factors==0:
            print(i)

5
11
5
7
11