In [1]:
# Find the group

n = int(input())

is_group_a = (n == 1) or (n == 3) or (n == 5) or (n == 7) or (n == 9)
is_group_b = (n == 2) or (n == 4) or (n == 6) or (n == 8) or (n == 10)

if is_group_a:
    print("Group A")
elif is_group_b:
    print("Group B")

5
Group A

In [2]:
# Find the group - 2

n = int(input())

if n % 6 == 1:
    print("Group 1")
elif n % 6 == 2:
    print("Group 2")
elif n % 6 == 3:
    print("Group 3")
elif n % 6 == 4:
    print("Group 4")
elif n % 6 == 5:
    print("Group 5")
elif n % 6 == 0:
    print("Group 6")

5
Group 5

In [3]:
# denominations

n = int(input())

five = int(n / 5)
one = n % 5

print("5:" + str(five))
print("1:" + str(one))

125
5:25
1:0

In [5]:
# denominations - 2

a = int(input())

hundred = int(a / 100)
rem_amount = a - (hundred * 100)
fifty = int(rem_amount / 50)
rem_amount = rem_amount - (fifty * 50)
ten = int(rem_amount / 10)
rem_amount = rem_amount - (ten * 10)
one = int(rem_amount / 1)

print("100:" + str(hundred))
print("50:" + str(fifty))
print("10:" + str(ten))
print("1:" + str(one))

745896
100:7458
50:1
10:4
1:6

In [4]:
# denominations - 3

amount = int(input())

five_hundred = int(amount / 500)
remaining_amount = amount - (five_hundred * 500)
fifty = int(remaining_amount / 50)
remaining_amount = remaining_amount - (fifty * 50)
ten = int(remaining_amount / 10)
remaining_amount = remaining_amount - (ten * 10)
one = remaining_amount

print("500: " + str(five_hundred) + " " + "50: " + str(fifty) + " " + "10: " + str(ten) + " " + "1: " + str(one))

8475
500: 16 50: 9 10: 2 1: 5