In [1]:
# Sum of N terms in Power series

x = int(input())
n = int(input())
sum = 0
power = 1

for i in range(1, n + 1):
    term = x ** power
    power = power + 2
    sum = sum + term

print(sum)

2
6
2730

In [2]:
# Sum of N term in power Series - 2

x = int(input())
n = int(input())

sum = 0
power = 2

for i in range(1 , n + 1):
    term = x ** power
    power = power + 2
    sum = sum + term

print(sum)

3
4
7380

In [3]:
# Sum of N terms in Power series - 3

x = int(input())
n = int(input())

sum = 0

for i in range(1 , n + 1):
    term = x ** (2*i)
    if i % 2 == 0:
        term = -term
    sum = sum + term

print(sum)

2
6
-3276

In [4]:
# Right angled Triangle - 5

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (n - i)
    stars = "*" * i
    row = spaces + stars
    print(row)

5
    *
   **
  ***
 ****
*****

In [5]:
# Right angled Triangle - 6

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (n - i)
    stars = "*" * i
    row = spaces + stars
    print(row)

5
    *
   **
  ***
 ****
*****

In [6]:
# Right angled Triangle - 7

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * 2 * (n - i)
    stars = "* " * i
    row = spaces + stars
    print(row)

5
        *
      * *
    * * *
  * * * *
* * * * *

In [11]:
# Pyramid

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (2 * (n - i))
    stars = "* " * ((2 * i) - 1 )
    row = spaces + stars
    print(row)

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [10]:
# Pyramid - 2

n = int(input())

for i in range(1 , n + 1):
    j = i
    space = " " * (2 * (n - i))
    number = (str(j) + " ") * ((2*i) - 1)
    row = space + number
    print(row)

5
        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [9]:
# Inverted right angled triangle - 4

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (i - 1)
    numbers = (str(n + 1 - i)) * (n + 1 - i)
    row = spaces + numbers
    print(row)

5
55555
 4444
  333
   22
    1

In [8]:
# Inverted right angled triangle - 5

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (2 * (i - 1))
    number = (str(n + 1 - i) + " ") * (n + 1 - i)
    row = spaces + number
    print(row)

5
5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

In [7]:
# Inverted Pyramid

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (i - 1)
    stars = "*" * (2 * (n + 1 - i) - 1)
    row = spaces + stars + spaces
    print(row)

5
*********
 *******
  *****
   ***
    *