In [7]:
# Print length times

word = input()
length = len(word)

for i in range(length):
    print(word[0])

waghraj
w
w
w
w
w
w
w

In [8]:
# Print the character

word = input()

for i in range(len(word)):
    print(word[i])

waghraj
w
a
g
h
r
a
j

In [6]:
# print integers

n = int(input())

for i in range(1, n+1):
    print(i)

5
1
2
3
4
5

In [5]:
# First natural numbers

n = int(input())

for i in range(1 , n + 1):
    print(i)

5
1
2
3
4
5

In [4]:
# Sum of natural numbers

n = int(input())
sum = 0

for i in range(1, n + 1):
    sum = sum + i

print(sum)

10
55

In [3]:
# avg of N numbers

n = int(input())

sum = 0
for i in range(1, n + 1):
    sum = sum + i

avg = sum / n
print(avg)

10
5.5

In [2]:
# cubes of N numbers

n = int(input())

for i in range(1, n + 1):
    print(i**3)

5
1
8
27
64
125

In [1]:
# Read N inputs

n = int(input())

for i in range(n):
    m = int(input())
    print(m)

5
1
1
2
2
3
3
1
1
5
5

In [ ]:
# product of N inputs

n = int(input())

product = 1
for i in range(1, n + 1):
    m = int(input())
    product = product * m

print(product)

5
1
2
3
5
8
240

In [ ]:
# solid rectangle

m = int(input())
n = int(input())

for i in range(m):
    print("* " * n)

5
5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# solid right angled triangle

n = int(input())

for i in range(1, n + 1):
    print("* " * i)

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
# sum of the given numbers
n = int(input())
sum = 0

for i in range(n):
    m = int(input())
    sum = sum + m

print(sum)

5
5
1
3
5
2
16

In [ ]:
# styled word

a = input()
len_of_a = len(a)
b = a[0]
for i in range(1, len_of_a):
    b = b + "-" + a[i]
print(b)

Python
P-y-t-h-o-n