# Solid Half Diamond

In [9]:
n = int(input())

for i in range(1 , n + 1):
    for j in range(1 , i + 1):
        print("*", end=" ")
    print()

for m in range(1 , n + 1):
    for x in range(1 , n - m + 1):
        print("*", end=" ")
    print()

8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# Butterfly - 2

In [8]:
n = int(input())

for i in range(1 , n + 1):
    stars = ("* ") * i
    spaces = (" ") * (4 * (n - i))
    row = stars + spaces + stars
    print(row)

for j in range(1 , n + 1):
    stars = ("* ") * (n + 1 - j)
    spaces = (" ") * (4 * (j - 1))
    row = stars + spaces + stars
    print(row)

8
*                             *
* *                         * *
* * *                     * * *
* * * *                 * * * *
* * * * *             * * * * *
* * * * * *         * * * * * *
* * * * * * *     * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * *     * * * * * * *
* * * * * *         * * * * * *
* * * * *             * * * * *
* * * *                 * * * *
* * *                     * * *
* *                         * *
*                             *

# Numbers in Pyramid - 3

In [7]:
n = int(input())

for i in range(1 , n + 1):
    zeros = ("0 ") * (n - i)
    ones = ("1 ") * (2 * i - 1)
    row = zeros + ones + zeros
    print(row)

8
0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 1 1 1 0 0 0 0 0 0
0 0 0 0 0 1 1 1 1 1 0 0 0 0 0
0 0 0 0 1 1 1 1 1 1 1 0 0 0 0
0 0 0 1 1 1 1 1 1 1 1 1 0 0 0
0 0 1 1 1 1 1 1 1 1 1 1 1 0 0
0 1 1 1 1 1 1 1 1 1 1 1 1 1 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

# Pyramid - 8

In [6]:
n = int(input())

for i in range(1 , n + 1):
    stars = ("* ") * (2*i)
    spaces = (" ") * (2 *(n - i))
    row = spaces + stars
    print(row)

8
              * *
            * * * *
          * * * * * *
        * * * * * * * *
      * * * * * * * * * *
    * * * * * * * * * * * *
  * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *

# Digit 2

In [4]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1 or i==n):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 1)
        row = spaces + ("* ")
        print(row)

for j in range(1 , n):
    if (j == n -1):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 1)
        row = ("* ") + spaces
        print(row)

8
* * * * * * * *
              *
              *
              *
              *
              *
              *
* * * * * * * *
*
*
*
*
*
*
* * * * * * * *

# Digit 6

In [5]:
n = int(input())

for i in range(1 , n  + 1):
    if ( i==1 or i==n ):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 1)
        row = ("* ") + spaces
        print(row)
for j in range(1, n):
    if ( j == n - 1):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 2)
        row = ("* ") + spaces + ("* ")
        print(row)

8
* * * * * * * *
*
*
*
*
*
*
* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *

# Alphabets in Square

In [3]:
n = int(input())

alpa = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"

for i in range(1 , n + 1):
    for j in alpa[:n]:
        print(j,end=" ")
    print()

5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

# Alphabets in Inverted Right Angled Triangle

In [2]:
n = int(input())
alpha= "ABCDEFGHIJKLMNOPQRSTUVWXYZ"

for i in range(1 , n + 1):
    for j in alpha[:n + 1 - i]:
        print(j,end=" ")
    print()

8
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

# Digit 8

In [1]:
n = int(input())

for i in range(1 , n + 2):
    if ( i==1 or i== n+1 ):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 2)
        row = ("* ") + spaces + ("* ")
        print(row)

for i in range(1 , n + 1):
    if ( i == n):
        row = ("* ") * n
        print(row)
    else:
        spaces = ("  ") * (n - 2)
        row = ("* ") + spaces + ("* ")
        print(row)

8
* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *