# Extend List

In [1]:
L = ["5", "7", "Rohit", "Virat", "Dhoni"]

str_1 = input().split()
L.extend(str_1)
print(L)

Surya Rahul Ishan Gill
['5', '7', 'Rohit', 'Virat', 'Dhoni', 'Surya', 'Rahul', 'Ishan', 'Gill']

# Count the Occurances

In [ ]:
nums_list = [5, 10, 20, 35, 5, 50, 20, 100, 200, 10, 150, 100, 100, 20, 20]
n = int(input())
result = nums_list.count(n)
print(result)

5
2

# Nth Term in Fibonacci series

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)

n = int(input())
result = fibonacci(n)
print(result)

5
5

# Remove all the Occurances

In [ ]:
nums_list = [5, 10, 20, 35, 5, 50, 20, 100, 200, 10, 150, 100, 100]

n = int(input())
count = nums_list.count(n)
for i in range(count):
    nums_list.remove(n)
print(nums_list)

5
[10, 20, 35, 50, 20, 100, 200, 10, 150, 100, 100]

# Mode of a Number

In [5]:
list_of_numbers = input().split(",")
mode = None
no_of_occurrences = 0

for i in list_of_numbers:
    count = list_of_numbers.count(i)
    if count > no_of_occurrences:
        mode = int(i)
        no_of_occurrences = count

print(mode)

6,3,9,3,6,6,5,9,3
6

# List Method

In [4]:
n = int(input())
nums_list = []

for i in range(n):
    command = input().split()
    if command[0] == "insert":
        index = int(command[1])
        value = int(command[2])
        nums_list.insert(index,value)
    elif command[0] == "append":
        value = int(command[1])
        nums_list.append(value)
    elif command[0] == "pop":
        nums_list.pop()
    elif command[0] == "remove":
        value = int(command[1])
        nums_list.remove(value)
    elif command[0] == "sort":
        nums_list.sort()
    elif command[0] == "print":
        print(nums_list)

5
append 5
insert 0 2
append 1
sort
print
[1, 2, 5]

# N term in Fibonacci series

In [6]:
def fibonacci(n):
    if n <=1:
        return n
    return fibonacci(n - 2) + fibonacci(n - 1)

def get_fibonacci_series(n):
    series = []
    for i in range(n):
        term = fibonacci(i)
        series.append(term)
    return series

n = int(input())
result = get_fibonacci_series(n)
print(result)

5
[0, 1, 1, 2, 3]