# Check first and last letter in the word

In [7]:
s = input()
s = s.lower()

list_a = s.split()

for i in list_a:
    if i[0] == i[-1]:
        print("True")
    else:
        print("False")

water Noon river
False
True
True

# Reverse the sentence

In [6]:
s = input()
print(s[::-1])

I am learning python
nohtyp gninrael ma I

# Reverse Words in List

In [8]:
s = input()

list_a = s.split()

print(list_a[::-1])

Banana Apple Orange
['Orange', 'Apple', 'Banana']

# Reverse the letters in words of the sentences

In [5]:
s = input()
list_b = ""

list_a = s.split()


for i in list_a:
    a = i[::-1]
    list_b += a + " "

print(list_b)

The cat is on the mat.
ehT tac si no eht .tam

# First half of the list

In [4]:
s = input()

list_a = s.split()

len_of_list = len(list_a)

if len_of_list % 2 != 0:
    index = int((len_of_list + 1) / 2 )
    print(list_a[:index])
else:
    index = int(len_of_list / 2 )
    print(list_a[:index])

apple mango oranges grapes kiwi
['apple', 'mango', 'oranges']

# First half numbers of the List

In [3]:
s = input()

list_a = s.split()
result = []
len_of_list = len(list_a)
if (len_of_list) % 2 != 0 :
    index = int((len_of_list + 1) / 2)
    for i in list_a[:index]:
        result += [int(i)]
else:
    index = int((len_of_list) / 2)
    for i in list_a[:index]:
        result += [int(i)]

print(result)

1 3 9 0 8 2 7
[1, 3, 9, 0]

# Last N word of List

In [2]:
s = input()
n = int(input())

list_a = s.split()
list_b = list_a[((-1) * n):]
list_c = list_b[::-1]
print(list_c)

This is my favourite cookie
4
['cookie', 'favourite', 'my', 'is']

# Reverse order 2

In [1]:
list_a = input().split(",")
list_b = input().split(",")

len_of_list_a = len(list_a)
n = len_of_list_a - 1

for i in range(len_of_list_a):
    num_1 = list_a[i]
    num_2 = list_b[n - i]
    result = str(num_1) + " " + str(num_2)
    print(result)

1,2,3
4,5,6
1 6
2 5
3 4