# Add a Key

In [1]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}

key_value = input().split()
key = key_value[0]
value = key_value[1]
students_dict[str(key)] = value
print(students_dict)

Ramesh Cricket
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket', 'Ramesh': 'Cricket'}

# Update value of a key

In [2]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket",
    "Deepak": "Boxing"
}

key_value = input().split()
key = key_value[0]
value = key_value[1]
students_dict[str(key)] = value
print(students_dict)

Rahim Hockey
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Hockey', 'Deepak': 'Boxing'}

# Remove a key

In [3]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket",
    "Deepak": "Boxing"
}

key = input()
if key in students_dict:
    del students_dict[key]

print(students_dict)

Vani
{'Ram': 'Cricket', 'Naresh': 'Football', 'Rahim': 'Cricket', 'Deepak': 'Boxing'}

# Sports Data

In [4]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}

n = int(input())
for i in range(n):
    key_value = input().split()
    key = key_value[0]
    value = key_value[1]
    students_dict[str(key)] = value
print(students_dict)

3
Gopal Hockey
Jyothi Cricket
Akhil Football
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket', 'Gopal': 'Hockey', 'Jyothi': 'Cricket', 'Akhil': 'Football'}

# Squares

In [5]:
n = int(input())
dict_sq = {}
for i in range(1,n+1):
    dict_sq[i] = i**2
print(dict_sq)

3
{1: 1, 2: 4, 3: 9}

# Remove N keys

In [6]:
alphabets = {
    'a': 97,
    'b': 98,
    'c': 99,
    'd': 100,
    'e': 101,
    'f': 102,
    'g': 103,
    'h': 104,
}

keys = input().split()
for i in keys:
    if i in alphabets:
        del alphabets[i]
print(alphabets)

a d g
{'b': 98, 'c': 99, 'e': 101, 'f': 102, 'h': 104}

# Student ID map

In [7]:
names = input().split(",")
ids = input().split(",")
dict_info = {}
for i in range(len(ids)):
    dict_info[str(names[i])] = str(ids[i])

stu_details = dict_info.items()
stu_details = sorted(stu_details)
for i,j in stu_details:
    print(i,j)

Anand,Ramesh,Kiran
ID102,ID101,ID100
Anand ID102
Kiran ID100
Ramesh ID101

# Rename Key

In [8]:
fruits = {
    "apples": 10,
    "bananas": 20,
    "mangoes": 15,
    "oranges": 200,
    "watermelons": 50
}

key = input()
new_key = input()

fruits_list = list(fruits.items())
fruits_list_copy = fruits_list.copy()
for i in range(len(fruits_list)):
    if fruits_list[i][0] == key:
        update = (new_key , fruits_list[i][1])
        fruits_list_copy[i] = update
print(fruits_list_copy)

apples
pomegranates
[('pomegranates', 10), ('bananas', 20), ('mangoes', 15), ('oranges', 200), ('watermelons', 50)]

# Combine Two Dictionaries

In [9]:
def convert_to_int(num):
    num_list = []
    for i in num:
        num_list.append(int(i))
    return num_list

def convert_key_value_to_dict(keys,values):
    dict_a = {}
    for i in range(len(keys)):
        dict_a[str(keys[i])] = values[i]
    return dict_a


dict_a_keys = input().split()
dict_a_values = input().split()
dict_b_keys = input().split()
dict_b_values = input().split()

dict_a_values = convert_to_int(dict_a_values)
dict_b_values = convert_to_int(dict_b_values)

student_1 = convert_key_value_to_dict(dict_a_keys,dict_a_values)
student_2 = convert_key_value_to_dict(dict_b_keys,dict_b_values)

student_1.update(student_2)
student = list(student_1.items())
student = sorted(student)
print(student)

Akhil Ram Raju Mohan
1 10 15 18
Gopal Krishna Vani Ram
21 22 19 20
[('Akhil', 1), ('Gopal', 21), ('Krishna', 22), ('Mohan', 18), ('Raju', 15), ('Ram', 20), ('Vani', 19)]

# consecutive sum triangle

In [10]:
def convert_to_int(num):
    num_list = []
    for i in num:
        num_list.append(int(i))
    return num_list

def con_sum(numbers):
    list_a = []
    for i in range(len(numbers) - 1):
        sum_of_num = numbers[i] + numbers[i + 1]
        list_a.append(sum_of_num)
    numbers = list_a
    return list_a

int_list = input().split(",")
int_list = convert_to_int(int_list)
print(int_list)

while len(int_list) > 1:
    con_sum_list = con_sum(int_list)
    print(con_sum_list)
    int_list = con_sum_list

3,5,7,9
[3, 5, 7, 9]
[8, 12, 16]
[20, 28]
[48]

# Grouping scores

In [11]:
def get_score(group_score):
    dict_a = {}
    for item in group_score:
        pair = item.split(":")
        key, value = pair[0],int(pair[1])
        if key in dict_a:
            score = dict_a[key]
            dict_a[key] = score + value
        else:
            dict_a[key] = value
    return dict_a


group_score = input().split(",")
score = get_score(group_score)
score = score.items()
score = sorted(score)
print(score)

r:1,b:2,r:3
[('b', 2), ('r', 4)]