# Parsing Datetime

In [1]:
from datetime import datetime

str_a = input()
date_obj = datetime.strptime(str_a,"%d %b %Y")
print(date_obj)

2 Jul 2000
2000-07-02 00:00:00

# Formatting Datetime

In [2]:
from datetime import datetime
dt_format = "%b %d %Y %I:%M%p"

str_a = input()
dt_obj = datetime.strptime(str_a,dt_format)
date_obj = datetime.strftime(dt_obj,"%d/%m/%Y %H:%M:%S")
print(date_obj)

Jul 01 2014 02:43PM
01/07/2014 14:43:00

# Print Dates

In [3]:
from datetime import datetime,timedelta

dt = input()
dt_string = "%d %b %Y"
today = datetime.strptime(dt,dt_string)
yesterday = today - timedelta(days = 1)
tommarow = today + timedelta(days = 1)
print(yesterday)
print(today)
print(tommarow)

26 Jan 2021
2021-01-25 00:00:00
2021-01-26 00:00:00
2021-01-27 00:00:00

# Add Years

In [4]:
from datetime import datetime,timedelta

dt = input()
n = int(input())
dt_obj = datetime.strptime(dt,"%b %d %Y")
dt_2 = dt_obj + timedelta(days = n * 365)
print(dt_2)

Jul 11 2014
5
2019-07-10 00:00:00

# List Of Dates

In [6]:
from datetime import datetime,timedelta

d1 = input()
d2 = input()

dt_1 = datetime.strptime(d1,"%b %d %Y")
dt_2 = datetime.strptime(d2,"%b %d %Y")

num_days = (dt_2 - dt_1).days
for i in range(num_days + 1):
    print(dt_1 + timedelta(days=i))

Jul 11 2014
Jul 19 2014
2014-07-11 00:00:00
2014-07-12 00:00:00
2014-07-13 00:00:00
2014-07-14 00:00:00
2014-07-15 00:00:00
2014-07-16 00:00:00
2014-07-17 00:00:00
2014-07-18 00:00:00
2014-07-19 00:00:00

# Name of the weekday

In [7]:
from datetime import datetime

date = input()

dt = datetime.strptime(date,"%d %b %Y")
dt_obj = datetime.strftime(dt,"%A")
print(dt_obj)

2 Jul 2000
Sunday

# Count of Mondays

In [8]:
from datetime import datetime
year_a,year_b = input().split()
year_a,year_b = int(year_a),int(year_b)

mondays = 0

for year in range(year_a,year_b+1):
    for month in range(1,13):
        date_time_obj = datetime(year,month,1)
        name_of_the_day = datetime.strftime(date_time_obj,"%A")
        if name_of_the_day == "Monday":
            mondays += 1

print(mondays)

2015 2017
4

# UNIX timestamp to datetime

In [9]:
import datetime

zero = datetime.datetime(1970,1,1)
u = int(input())

seconds = datetime.timedelta(seconds=u)
result = zero + seconds

print(result.strftime("%Y-%m-%d %H:%M:%S"))

1284105682
2010-09-10 08:01:22

# Exception

In [5]:

try:
    a , b = input().split()
    a = int(a)
    b = int(b)
    div = a / b
    print(div)
except ZeroDivisionError:
    print("Denominator can't be 0")
except ValueError:
    print("Input should be an integer")

5 0
Denominator can't be 0

# Item

In [10]:
# Item class should have the following attributes & methods
#
# Attributes:
#   name, price, category
#
# Methods:
#   get_detail: Print the details of the item in the format '{name}@{price}-{category}'
#
# If the value of price is less than 1, raise ValueError exception like
#   "ValueError: Invalid value for price, got {price}"


# Implement the Item class appropriately
class Item:
    def __init__(self, name, price, category):
        if price < 1:
            raise ValueError("Invalid value for price, got {}".format(price))
        self.name = name
        self.price = price
        self.category = category

    def get_detail(self):
        return "{}@{}-{}".format(self.name,self.price,self.category)

# You need not change any code below.
# Do not call this function anywhere. It will automatically be called internally during tests.
def default_test():
    item = Item(name="Oreo Biscuits", price=30, category="Food")
    print(item.name)  # prints "Oreo Biscuits"
    print(item.price)  # prints '30'
    print(item.category)  # prints "Food"
    print(item.get_detail())  # prints "Oreo Biscuits@30-Food"