# Numbers in Square - 3

In [10]:
n = int(input())
k = 1
for i in range(1 , n + 1):
    for j in range(1 , n + 1):
        print(k , end=" ")
        k = k + 1
    print()

5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

# Numbers in Right Angled Triangle - 3

In [9]:
s = int(input())
n = int(input())

for i in range(1 , n + 1):
    for j in range(1, i + 1):
        print(s,end=" ")
        s = s + 1
    print()

10
5
10
11 12
13 14 15
16 17 18 19
20 21 22 23 24

# Numbers in Right Angled Triangle - 4

In [8]:
s = int(input())
n = int(input())

for i in range(1 , n + 1):
    for j in range(1 , 2*i + 1):
        print(s,end=" ")
        s = s + 1
    print()

2
4
2 3
4 5 6 7
8 9 10 11 12 13
14 15 16 17 18 19 20 21

# Numbers in Rectangle - 3

In [7]:
m = int(input())
n = int(input())

k = m * n
for i in range(1 , m + 1):
    for j in range(1 , n + 1):
        print(k,end=" ")
        k = k - 1
    print()

6
5
30 29 28 27 26
25 24 23 22 21
20 19 18 17 16
15 14 13 12 11
10 9 8 7 6
5 4 3 2 1

# Numbers in Inverted Right Angled Triangle - 2

In [6]:
n = int(input())
k = 0

for i in range(1 , n + 1):
    k = k + i
for i in range(1 , n + 1):
    spaces = (" ") * (2*(i - 1))
    print(spaces,end="")
    for j in range(1 , n + 2 - i):
        print(k , end=" ")
        k = k - 1
    print()

5
15 14 13 12 11
  10 9 8 7
    6 5 4
      3 2
        1

# Numbers in Right Angled Triangle - 5

In [5]:
s = int(input())
n = int(input())

k = 0
for i in range(1 , n + 1):
    k = k + i
s = k + s - 1

for i in range(1 , n + 1):
    for j in range(1 , i + 1):
        print(s,end=" ")
        s = s - 1
    print()

6
4
15
14 13
12 11 10
9 8 7 6

# Numbers in Right Angled Triangle - 6

In [4]:
n = int(input())

for i in range(1 , n + 1):
    for j in range(1, i + 1):
        print(j , end=" ")
    for k in range(1, i):
        print(k ,end=" ")
    print()

3
1
1 2 1
1 2 3 1 2

# Pair of Numbers

In [3]:
n = int(input())
count = 0

for i in range(1 , n + 1):
    for j in range(i + 1 , n + 1):
        if i + j == n:
            count = count + 1

print(count)

7
3

# Triplets of Numbers

In [2]:
n = int(input())
count = 0
for i in range(1 , n + 1):
    for j in range(i + 1, n + 1):
        for k in range(j + 1 , n + 1):
            if i + j + k == n :
                count = count + 1
print(count)

10
4

# Inverted Half Pyramid - 2

In [1]:
n = int(input())

for row_num in range(1,n+1):
    row_output = ""
    seq_num = n + 1 - row_num
    while seq_num > 0:
        row_output = row_output + str(seq_num)
        seq_num = seq_num - 1
    print(row_output)

5
54321
4321
321
21
1