# Same elements

In [2]:
def convert(num):
    new_list = []
    for i in num:
        new_list += [int(i)]
    return new_list

str_list_num = input().split()
str_list_num = convert(str_list_num)

if len(set(str_list_num)) == 1:
    print("True")
else:
    list_a = list(set(str_list_num))
    print(sorted(list_a))

45 20 45 45 20
[20, 45]

# Extract Numbers

In [3]:
str_list_num = input().split(",")
new_list = []

for i in str_list_num:
    if i.isdigit():
        new_list += [int(i)]

new_list.sort()
print(new_list)

1,2,3,#,4
[1, 2, 3, 4]

# Missing Number

In [4]:
str_list_num = input().split()
n = int(str_list_num[-1])
new_list = []
for i in range(1 , n + 1):
    if str(i) not in str_list_num:
        new_list += [i]
new_list.sort()
print(new_list)

1 2 3 5 6 7
[4]

# set relation

In [5]:
def convert(num):
    new_list = []
    for i in num:
        new_list += [int(i)]
    return new_list

num_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
str_list_num = input().split()
list_a = convert(str_list_num)

set_a = set(list_a)
if num_set.issuperset(list_a):
    print("Superset")
elif num_set.issubset(list_a):
    print("Subset")
elif num_set.isdisjoint(list_a):
    print("Disjoint Set")

1 2 3 4 5 6 7 8 9 10 11
Subset

# Common elements in three sets

In [6]:
def convert(num):
    new_list = []
    for i in num:
        new_list += [int(i)]
    return new_list

list_1 = input().split()
list_2 = input().split()
list_3 = input().split()

list_1 = set(convert(list_1))
list_2 = set(convert(list_2))
list_3 = set(convert(list_3))

result = list_3 & list_2 & list_1
result = list(result)
result.sort()
print(result)

2 4 6 8 10 12
2 4 8 12 16
2 5 10 12 15 20
[2, 12]

# Common elements in N sets

In [9]:
def convert(num):
    new_list = []
    for i in num:
        new_list += [int(i)]
    return new_list

n = int(input())
num_list_set = []
for i in range(n):
    values = input().split()
    values = convert(values)
    num_list_set.append(set(values))

result = num_list_set[0]
for i in num_list_set:
    result = result & i

result = list(result)
result.sort()
print(result)

4
2 4 6 8 10 12
2 4 8 12 16 10
2 5 10 12 15 20 4
12 10 4 8
[4, 10, 12]

# K sum pairs

In [10]:
def convert(num):
    new_list = []
    for i in num:
        new_list.append(int(i))
    return new_list

str_num_list = input().split(",")
k = int(input())
num_list = convert(str_num_list)

list_a = []
for i in num_list:
    for j in num_list:
        if (i + j) == k:
            pair = i,j
            list_a.append(pair)

result= []
for i in list_a:
    m = list(i)
    m.sort()
    result.append(tuple(m))

result = set(result)
result = list(result)
result.sort()
for i in result:
    print(i)

-4,-3,-2,-1,0,1,2,3,4,5,6
-1
(-4, 3)
(-3, 2)
(-2, 1)
(-1, 0)

# Rotate D times

In [8]:
def convert(num):
    new_list = []
    for i in num:
        new_list += [int(i)]
    return new_list

str_of_num = input().split(",")
num_list = convert(str_of_num)

d_times = int(input())
index = d_times % len(num_list)
result = num_list[index:] + num_list[:index]
print(result)

1,2,3,4,5
2
[3, 4, 5, 1, 2]

# N greatest Numbers

In [11]:
list_a = [5, 20, 3, 7, 6, 8]
list_a.sort()
k = int(input())
list_len = len(list_a)
res = list_a[list_len - k:]
for i in range(k):
    res[i] = str(res[i])
print(" ".join(res))

2
8 20