# Split the sentence

In [9]:
s = input()

list_a = s.split()
print(list_a)

Knowledge is power
['Knowledge', 'is', 'power']

# Split the sentence 2

In [8]:
s = input()

list_a = s.split()
for i in list_a:
    print(i)

Banana Mango Apple
Banana
Mango
Apple

# Split Numbers

In [7]:
s = input()
list_b = []

list_a = s.split()
for i in list_a:
    list_b += [int(i)]

print(list_b)

10 20 30 40 50
[10, 20, 30, 40, 50]

# Sum of list elements

In [6]:
s = input()
sum_of_number = 0

list_a = s.split()
for i in list_a:
    sum_of_number += int(i)

print(sum_of_number)

2 5 10 -15 3
5

# Divisible by 3

In [5]:
s = input()

divisible_by_3 = []

list_a = s.split()
for i in list_a:
    if int(i) % 3 == 0:
        divisible_by_3 += [int(i)]

print(divisible_by_3)

3 10 11 24 54 12
[3, 24, 54, 12]

# Smallest number in the list

In [4]:
s = input()
list_b = []
list_a = s.split()

for i in list_a:
    list_b += [int(i)]

print(min(list_b))

54 25 68 75 94 23 15
15

# Join words in sentence

In [3]:
s = input()
list_a = s.split()
string_a = ".".join(list_a)
print(string_a)

This is a program
This.is.a.program

# Join Numbers

In [2]:
s = input()

list_a = s.split()
string = ",".join(list_a)
print(string)

24 25 24 58 45 69 78
24,25,24,58,45,69,78

# Join third letter in words

In [1]:
s = input()
result = ""
list_a = s.split()

for i in list_a:
    result += i[2] + ","
result = result.strip(",")
print(result)

Being More Productive
i,r,o