# First Uppercase Letter

In [12]:
s = input()

for i in s:
    x = (i == i.upper())
    y = not(i.isdigit())

    if (x and y):
        print(i)
        break

superHeroes
H

# First Word

In [11]:
s = input()
result = ""
for i in s:
    if i==" ":
        break
    result += i

print(result)

Chasing Rainbows
Chasing

# First Word in Uppercase

In [10]:
s = input()
result = ""

for i in s:
    if i==" ":
        break
    result += i

result = result.upper()
print(result + s[len(result):])

Python is a Programming language.
PYTHON is a Programming language.

# First Negative Number

In [9]:
n = int(input())

for i in range(1 , n + 1):
    m = int(input())
    if m < 0:
        print(m)
        break

5
5
3
1
2
-2
-2

# First Even Number

In [8]:
n = int(input())

for i in range(1 , n + 1):
    m = int(input())
    if m % 2 == 0:
        print(m)
        break

5
2
2

# First Prime number from M to N

In [6]:
m = int(input())
n = int(input())

found_prime = False
for i in range(m , n + 1):
    if i > 1:
        factors = 0
        for j in range(2, i):
            if i % j == 0:
                factors += 1
        if factors == 0:
            print(i)
            found_prime = True
            break
if not(found_prime):
    print("No prime numbers in the given range")

25
50
29

# GCD

In [7]:
m = int(input())
n = int(input())

if m > n:
    smaller = n
else:
    smaller = m

gcd = 1

for i in range(1 , smaller + 1):
    if (m % i == 0) and (n % i == 0):
        gcd = i

print(gcd)

4
6
2

# Kth Largest Factor

In [4]:
n = int(input())
k = int(input())

for i in range(n):
    if n % (n -i) == 0:
        largest = n - i
        k -= 1
    if k == 0:
        break
print(largest)

12
2
6

# LCM

In [3]:
m = int(input())
n = int(input())
k = (m * n) + 1
for i in range(1, k):
    if (i % m == 0) and (i % n == 0):
        print(i)
        break

2
3
6

# Consonants Phrase

In [2]:
s = input()
result = ""

for i in s:
    if i in "AEIOUaeiou":
        continue
    result += i

print(result)

Speak louder
Spk ldr

# Prime Number

In [1]:
n = int(input())
is_prime = True
for i in range(2, n):
    if (n % i) == 0:
        is_prime = False
        break
print(is_prime)

22
False