# Nested List

In [1]:
def convert_to_int(num):
    num_list = []
    for i in num:
        num_list.append(int(i))
    return num_list

n = int(input())
new_list = []

for i in range(n):
    a = input().split()
    num_list = convert_to_int(a)
    new_list.append(num_list)
print(new_list)

3
1 2 3 4
10 20 30
10 5 15 42
[[1, 2, 3, 4], [10, 20, 30], [10, 5, 15, 42]]

# List of Maximum values

In [2]:
def convert_to_int(num):
    num_list = []
    for i in num:
        num_list.append(int(i))
    return num_list

n = int(input())
max_values = []
for i in range(n):
    a = input().split()
    a = convert_to_int(a)
    max_values.append(max(a))

print(max_values)

3
1 2 3 4
10 20 30
10 5 15 40
[4, 30, 40]

# List of lists to list of tuple

In [3]:
def convert_nested_list_to_list_of_tuples(nested_list):
    new_list = []
    for i in nested_list:
        new_list.append(tuple(i))
    return new_list

def convert_string_to_int(list_a):
    new_list = []
    for item in list_a:
        num = int(item)
        new_list.append(num)
    return new_list


n = int(input())
num_list = []

for i in range(n):
    list_a = input().split()
    list_a = convert_string_to_int(list_a)
    num_list.append(list_a)


tuples_list = convert_nested_list_to_list_of_tuples(num_list)
print(tuples_list)

3
1 2 3 4
10 20 30
5 10 15 20
[(1, 2, 3, 4), (10, 20, 30), (5, 10, 15, 20)]

# Nested List Indexing

In [4]:
num_list = [(2, 4, 6, 8), (5, 15, 25, 35), (7, 14, 21)]
n = int(input())

for i in num_list:
    if n in i:
        tuple_index = num_list.index(i)
        n_index = i.index(n)
result = str(tuple_index) + " " + str(n_index)
print(result)

4
0 1

# Accessing Nested list

In [5]:
list_a = [('apple', 'banana', 'orange', 'grapes'), ('cricket', 'football', 'hockey'), ('car', 'bicycle', 'bus')]

def convert_to_int(num):
    num_list = []
    for i in num:
        num_list.append(int(i))
    return num_list

n = int(input())
result = []

for i in range(n):
    a = input().split()
    a = convert_to_int(a)
    m , n = tuple(a)
    result.append(list_a[m][n])

print(result)

3
1 2
0 3
0 1
['hockey', 'grapes', 'banana']

# Remove N in all tuple

In [6]:
num_list = [(1, 2, 3, 4, 5, 6), (2, 4, 6, 8), (1, 3, 5, 7)]

n = int(input())
new_list = []
for i in num_list:
    i = list(i)
    if n in i:
        i.remove(n)
    new_list.append(tuple(i))
print(new_list)

3
[(1, 2, 4, 5, 6), (2, 4, 6, 8), (1, 5, 7)]

# Max and Mix value in List of Tuple

In [10]:
n = int(input())
zero_index = []
first_index = []

for i in range(n):
    a = input().split()
    zero_index.append(int(a[0]))
    first_index.append(int(a[1]))

zero_index_max_min = max(zero_index),min(zero_index)
first_index_max_min = max(first_index),min(first_index)
print(zero_index_max_min)
print(first_index_max_min)

3
1 5
3 2
5 8
(5, 1)
(8, 2)

# List of Unique Tuple

In [8]:
def convert_to_int(num):
    num_list = []
    for i in num:
        num_list.append(int(i))
    return num_list

n = int(input())
new_list = []
for i in range(n):
    a = input().split()
    a = convert_to_int(a)
    set_a = set(a)
    if len(a) == len(set_a):
        new_list.append(a)
print(new_list)

3
1 2 3 4
10 20 30
10 20 30 10
[[1, 2, 3, 4], [10, 20, 30]]

# Character Frequency

In [9]:
str_1 = input()
str_1 = str_1.lower()
line = set(str_1)
line.discard(" ")

for i in sorted(line):
    a = i
    b = str_1.count(i)
    print("{}: {}".format(a,b))

Tic Tac Toe
a: 1
c: 2
e: 1
i: 1
o: 1
t: 3

# String Formatting

In [7]:
str_a = input()
str_b = input()
message = "{arg_1} is playing {arg_2}"
print(message.format(arg_2=str_b, arg_1=str_a))

Waghraj
Cricket
Waghraj is playing Cricket