# Division with 17

In [1]:
n = int(input())

for i in range(1 , n + 1):
    m = int(input())
    without_decimal = (m // 17)
    print(without_decimal)

3
5
98
0
5
376
22

# Double Char

In [2]:
s = input()

result = ""
for i in s:
    result += i*2

print(result)

The
TThhee

# Separate characters with comma

In [3]:
s = input()
result = ""
for i in s:
    result += i + ","
result = result.strip(",")
print(result)

wonder
w,o,n,d,e,r

# Cumulative sum

In [4]:
n = int(input())
sum = 0
for i in range(1 , n + 1):
    m = int(input())
    sum += m
    print(sum)

5
8
8
11
19
-96
-77
49
-28
85
57

# Cumulative Average

In [5]:
n = int(input())
count = 1
sum = 0

for i in range(1 , n + 1):
    m = int(input())
    sum += m
    avg = sum / count
    count += 1
    print(round(avg , 3))

5
8
8.0
11
9.5
-96
-25.667
49
-7.0
85
11.4

# Smallest among N inputs

In [6]:
n = int(input())
smallest = 9999999999

for i in range(1, n + 1):
    m = int(input())
    if m < smallest :
        smallest = m
    print(smallest)

3
32
32
6
6
23
6

# Hollow Pyramid 3

In [7]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1):
        row = "| "
        print(row)
    else:
        middle_spaces = (" ") * (i - 2)
        row = "| " + middle_spaces + "\\"
        print(row)

for i in range(1 , n + 1):
    if (i== n):
        row = "| "
        print(row)
    else:
        middle_spaces = (" ") * (n - i - 1)
        row = "| " + middle_spaces + "/"
        print(row)

8
|
| \
|  \
|   \
|    \
|     \
|      \
|       \
|       /
|      /
|     /
|    /
|   /
|  /
| /
|

# Subsequence

In [8]:
full_string = input()
substring = input()
sub_index = 0

for i in full_string:
    if i == substring[sub_index]:
        sub_index += 1
        if sub_index == len(substring):
            break

if sub_index == len(substring):
    print("Yes")
else:
    print("No")

abcde
ace
Yes

# Number Pyramid

In [9]:
n = int(input())
for i in range(1, n+1):
    spaces = " "*(n - i)
    left_nums = ""
    right_nums = ""
    for j in range(1, i+1):
        left_nums = str(j) + left_nums
        right_nums = right_nums + str(j)
    print(spaces + left_nums + right_nums[1:])

8
       1
      212
     32123
    4321234
   543212345
  65432123456
 7654321234567
876543212345678

# Cumulative Sum

In [10]:
n = int(input())
sum = 0

for i in range(1 , n + 1):
    m = int(input())
    sum += m
    print(sum)

5
8
8
11
19
-96
-77
49
-28
85
57