# Numbers in Inverted Hollow Right Angled Triangle

In [1]:
n = int(input())
k = 1
for i in range(1 , n + 1):
    if (i==1):
        row = ""
        for j in range(1 , n + 1):
            row += str(j) + " "
            k += 1
        print(row)
    elif (i==n):
        row = str(k)
        print(row)
    else:
        row = str(k)
        middle_spaces = (" ") * (2*(n + 1 - i) - 3)
        row += middle_spaces
        k += int(len(middle_spaces) / 2) + 1
        row += str(k)
        k += 1
        print(row)

8
1 2 3 4 5 6 7 8
9           15
16         21
22       26
27     30
31   33
34 35
36

# Numbers in Inverted Hollow Right Angled Triangle

In [2]:
s = int(input())
n = int(input())

for i in range(1 , n + 1):
    if (i==1):
        row = ""
        for j in range(1 , n + 1):
            row += str(s) + " "
            s += 1
        print(row)
    elif (i==n):
        left_spaces = (" ") * (2*(i - 1))
        row = left_spaces + str(s)
        print(row)
    else:
        left_spaces = (" ") * (2*(i - 1))
        row = str(s)
        middle_spaces = (" ") * (2*(n + 1 - i) - 3)
        row += middle_spaces
        s += 1
        row += str(s)
        s += 1
        print(left_spaces + row)

8
8
8 9 10 11 12 13 14 15
  16           17
    18         19
      20       21
        22     23
          24   25
            26 27
              28

# Numbers in Hollow Square - 3

In [3]:
s = int(input())
n = int(input())

for i in range(1 , n + 1):
    for j in range(1 , n + 1):
        if (i==1 or i==n or j==1 or j==n):
            print(s,end=" ")
            s += 1
        else:
            print(" ",end=" ")
            s += 1
    print()

1
9
1 2 3 4 5 6 7 8 9
10               18
19               27
28               36
37               45
46               54
55               63
64               72
73 74 75 76 77 78 79 80 81

# Numbers in Inverted Hollow Right Angled Triangle

In [4]:
n = int(input())
s = 0
for k in range(1 , n + 1):
    s += k

k = s
for i in range(1 , n + 1):
    if (i==1):
        row = ""
        for j in range(1 , n + 1):
            row += str(k) + " "
            k -= 1
        print(row)
    elif (i==n):
        row = str(k)
        print(row)
    else:
        row = str(k)
        middle_spaces = (" ") * (2*(n + 1 - i) - 3)
        row += middle_spaces
        k -= int(len(middle_spaces)/2) + 1
        row += str(k)
        k -= 1
        print(row)

8
36 35 34 33 32 31 30 29
28           22
21         16
15       11
10     7
6   4
3 2
1

# Numbers in Hollow Right Angled Triangle - 3

In [5]:
s = int(input())
n = int(input())

for i in range(1 , n + 1):
    if (i==n):
        row = ""
        for j in range(1 , n + 1):
            s += 1
            row += str(s) + " "
        print(row)
    elif (i==1):
        row = str(s)
        print(row)
    else:
        s += 1
        midlle_spaces = (" ") * (2*i - 3)
        row = str(s) + midlle_spaces + str(s + 1)
        s += 1
        print(row)

5
8
5
6 7
8   9
10     11
12       13
14         15
16           17
18 19 20 21 22 23 24 25

# Numbers in Hollow Rectangle - 3

In [6]:
m = int(input())
n = int(input())
s = m*n
for i in range(1 , m + 1):
    for j in range(1 , n + 1):
        if (i==1 or i==m or j==1 or j == n):
            print(s , end=" ")
            s -= 1
        else:
            print(" ",end=" ")
            s -= 1
    print()

3
6
18 17 16 15 14 13
12         7
6 5 4 3 2 1

# Armstrong Numbers in the given inputs

In [7]:
n = int(input())

for i in range(1 , n + 1):
    s = 0
    m = int(input())
    power = len(str(m))
    for j in str(m):
        s += int(j)**power
    if m==s:
        print(m)

4
8
8
27
153
153
374

#  Sum of prime numbers between two numbers M and N

In [8]:
m = int(input())
n = int(input())
s = 0

for i in range(m , n + 1):
    if i > 1:
        factors = 0
        for j in range(2,i):
            if i % j == 0:
                factors = factors + 1
        if factors==0:
            s += i

print(s)

3
7
15