In [1]:
## Create and print list

list_a = ["Rose",183,148,123.64,False]
print(list_a)

['Rose', 183, 148, 123.64, False]

In [2]:
## List Indexing

color_list = ["Red", "Orange", "Yellow", "Pink", "Green", "Blue", "Purple", "Black", "White"]

i = int(input())
print(color_list[i])

5
Blue

In [6]:
## List Indexing 2

programming_languages_list = ["Python", "Java", "Ruby", "C", "C++", "Go", "R", "JavaScript", "Swift", "PHP", "Kotlin", "Perl"]

n = int(input())

for i in range(1 , n + 1):
    m = int(input())
    print(programming_languages_list[m])

2
1
Java
4
C++

In [7]:
## Find element in list

L = ["5", "eat", "9.80", "Water", "python", "-678", "7685.26", "-2.5", "sing"]

s = input()
is_there = False
for i in L:
    if i == s:
        is_there = True

print(is_there)

eat
True

In [8]:
## List concatenation

num_list =  [10, 20, 40, 100]
n = int(input())
first_list = [n] + num_list
second_list = num_list + [n]

print(first_list)
print(second_list)

20
[20, 10, 20, 40, 100]
[10, 20, 40, 100, 20]

In [14]:
## List Concatenation2

L = ["apple", "78", "970.03"]

n = int(input())

for i in range(1 , n + 1):
    m = input()
    L += [m]

print(L)

2
38
grapes
['apple', '78', '970.03', '38', 'grapes']

In [13]:
## Create and print 2

L = []
n = int(input())
for i in range(1, n + 1):
    m = input()
    L += [m]
print(L)
9

5
20
tiger
cinema
5.5
90
['20', 'tiger', 'cinema', '5.5', '90']

In [12]:
## Create and print 3

n = int(input())
L = []

for i in range(1 , n + 1):
    m = int(input())
    L += [m]

print(L)

4
1
2
3
4
[1, 2, 3, 4]

In [15]:
## List repetition

L = [1, "two", "3", 4.0]

n = int(input())
print(L * n)

3
[1, 'two', '3', 4.0, 1, 'two', '3', 4.0, 1, 'two', '3', 4.0]

In [16]:
## List repetition 2

n = int(input())
m = int(input())

L = [n]
print(L * m)

5
4
[5, 5, 5, 5]

In [17]:
## Convert String to List

s = input()
print(list(s))

Python
['P', 'y', 't', 'h', 'o', 'n']

In [18]:
## Modifying List

L = [1, 20, 33, 45, 520, 64, 71, 852, 9999, 101010]

i = int(input())
n = int(input())

L[i] = n
print(L)

3
100
[1, 20, 33, 100, 520, 64, 71, 852, 9999, 101010]

In [11]:
## Greater than N

num_list = [1, 6, 32, 93, 71, -20, 30, -90, 50]

L = []

n = int(input())

for i in num_list:
    if i > n :
        L += [i]

print(L)

50
[93, 71]

In [10]:
## First and Last three elements in lists

n = int(input())
L =[]
for i in range(1, n + 1):
    m = input()
    L += [m]

length = len(L)
a = L[:3]
b = L[length - 3 :]
print(a + b)

8
sonu
monu
chintu
pintu
bunny
honny
papu
sinu
['sonu', 'monu', 'chintu', 'honny', 'papu', 'sinu']

In [9]:
## Reverse Order

n = int(input())
L = []
for i in range(1 , n + 1):
    m = input()
    L = [m] + L

for i in L:
    print(i)

8
waghraj
prajakta
sonu
pragati
mahesh
shivam
vaibhav
sambha
sambha
vaibhav
shivam
mahesh
pragati
sonu
prajakta
waghraj