# Numbers in Hollow Square

In [1]:
n = int(input())

for i in range(1 , n + 1):
    if ( i==1 or i==n):
        row = ""
        for j in range(1,n + 1):
            row += str(j) + " "
    else:
        row = ""
        middle_spaces = (" ") * ((2*n) - 4)
        row += "1 " + middle_spaces + (str(n)+" ")
    print(row)

5
1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

# Numbers in Hollow Right Angled Triangle

In [2]:
n = int(input())

for i in range(1 , n + 1):
    if (i == 1):
        row = str(i) + " "
    elif (i == n):
        row = ""
        for j in range(1 , n + 1):
            row += str(j) + " "
    else:
        middle_spaces = (" ") * (2*(i - 2))
        row = "1 " + middle_spaces + str(i)
    print(row)

5
1
1 2
1   3
1     4
1 2 3 4 5

# Numbers in Hollow Rectangle

In [3]:
m = int(input())
n = int(input())

for i in range(1, m + 1):
    s = 7
    if (i==1 or i==m):
        row = ""
        for j in range(1, n + 1):
            row += str(s) + " "
            s += 1
    else:
        middle_spaces = (" ") * ((2*n) - 4)
        row = (str(s) + " ") + middle_spaces + str(s + n - 1)
    print(row)

5
6
7 8 9 10 11 12
7         12
7         12
7         12
7 8 9 10 11 12

# Numbers in Hollow Pyramid

In [4]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1):
        left_spaces = (" ") * (n - i)
        row = left_spaces + str(5)
        print(row)
    elif (i==n):
        for j in range(5 , 5 + n):
            print(j , end=" ")
        print()
    else:
        left_spaces = (" ") * (n - i)
        middle_spaces = (" ") *(2*i - 3)
        row = left_spaces + str(5) + middle_spaces + str(4 + i )
        print(row)

5
    5
   5 6
  5   7
 5     8
5 6 7 8 9

# Numbers in Hollow Square - 2

In [5]:
n = int(input())

for i in range(1, n + 1):
    for j in range(1, n + 1):
        if (i==1 or i==n or j==1 or j == n):
            print(n + 1 - j,end=" ")
        else:
            print(" ",end=" ")
    print()

5
5 4 3 2 1
5       1
5       1
5       1
5 4 3 2 1

# Numbers in Hollow Right Angled Triangle - 2

In [6]:
n = int(input())

for i in range(1 , n + 1):
    if ( i==1 ):
        row = (("  ") * (n - i)) + "1 "
        print(row)
    elif (i==n):
        for j in range(1 , n + 1):
            print(n + 1 - j,end=" ")
        print()
    else:
        left_spaces = ("  ") * (n - i)
        middle_spaces = ("  ") * (i - 2)
        row = left_spaces + str(i) + " " + middle_spaces + "1 "
        print(row)

5
        1
      2 1
    3   1
  4     1
5 4 3 2 1

# Numbers in Hollow Rectangle - 2

In [7]:
m = int(input())
n = int(input())
k = 1

for i in range(1 , m + 1):
    for j in range(1 , n + 1):
        if(i==1 or i==m or j==1 or j==n):
            print(k , end=" ")
            k += 1
        else:
            print(" ",end=" ")
            k += 1
    print()

5
6
1 2 3 4 5 6
7         12
13         18
19         24
25 26 27 28 29 30

# Numbers in Inverted Hollow Pyramid

In [8]:
n = int(input())
s = int(input())

for i in range(1 , n + 1):
    if (i==1):
        row = ""
        for i in range(s , s + n):
            row += str(i) + " "
        print(row)
    elif (i==n):
        left_spaces = (" ") * (i - 1)
        row = left_spaces + str(s)
        print(row)
    else:
        left_spaces = (" ") * (i - 1)
        middle_spaces = (" ") * (2*(n + 1 - i) -3)
        row = left_spaces + str(s) + middle_spaces + str(s + n - i)
        print(row)

5
6
6 7 8 9 10
 6     9
  6   8
   6 7
    6

# Hollow Inverted Full Pyramid - 2

In [13]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1):
        row = ""
        for j in range(1 , n + 1):
            row += str(j) + " "
        print(row)
    elif (i==n):
        left_spaces = (" ") * (i - 1)
        row = left_spaces + "1 "
        print(row)
    else:
        left_spaces = (" ") * (i - 1)
        middle_spaces = (" ") * (2*(n + 1 - i) - 3)
        row = left_spaces + "1" + middle_spaces + str(n - i + 1)
        print(row)

5
1 2 3 4 5
 1     4
  1   3
   1 2
    1

# Hollow Inverted Half Pyramid - 2

In [12]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1):
        row = ""
        for j in range(1 , n + 1):
            row += str(j) + " "
        print(row)
    elif (i==n):
        row = "1 "
        print(row)
    else:
        middle_spaces = (" ") * (2*(n + 1 - i) - 3)
        row = "1" + middle_spaces + str(n - i + 1)
        print(row)

5
1 2 3 4 5
1     4
1   3
1 2
1

# Hollow Full Pyramid - 1

In [11]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1):
        left_spaces = (" ") * (n - i)
        row = left_spaces + "*"
    elif (i==n):
        row = ("* ") * n
    else:
        left_spaces = (" ") * (n - i)
        middle_spaces = (" ") * (2*i - 3)
        row = left_spaces + "*" + middle_spaces + "*"
    print(row)

5
    *
   * *
  *   *
 *     *
* * * * *

# Hollow Full Pyramid - 2

In [10]:
n = int(input())

for i in range(1 , n + 1):
    if (i==1):
        left_spaces = (" ") * (n - i)
        row = left_spaces + "1 "
        print(row)
    elif (i==n):
        row = ""
        for j in range(1 , n + 1):
            row += str(j) + " "
        print(row)
    else:
        left_spaces = (" ") * (n - i)
        middle_spaces = (" ") * (2*(i) - 3)
        row = left_spaces + "1" + middle_spaces + str(i)
        print(row)

5
    1
   1 2
  1   3
 1     4
1 2 3 4 5

# Full Pyramid - 2

In [9]:
n = int(input())

for i in range(1 , n + 1):
    spaces = (" ") * (n - i)
    print(spaces,end="")
    for j in range(1 , i + 1):
        print(j , end=" ")
    print()

5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5