In [ ]:
# M pattern with *

n = int(input())

for i in range(1 , n + 1):
    stars = "* " * (i)
    spaces = " " * (4 * (n - i))
    row = stars + spaces + stars
    print(row)

5
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [2]:
# Pyramid - 3

n = int(input())

for i in range(1 , n + 1):
    stars = "* " * i
    print(stars)

for j in range(1 , n):
    stars = "* " * (n - j)
    print(stars)

5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
# pyramid - 4

n = int(input())

for i in range(1 , n + 1):
    number = (str(i) + " ") * i
    print(number)

for j in range(1 , n):
    number2 = (str(n - j) + " ") * (n - j)
    print(number2)

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [4]:
# Pyramid - 5
n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (2 * (n - i))
    plus = "+ " * (i - 1)
    hashsymbol = "#"
    print(spaces + plus + hashsymbol)

for j in range(1 , n):
    spaces = " " * (2 * j)
    plus = "+ " * (n - 1 - j)
    hashsymbol = "#"
    print(spaces + plus + hashsymbol)

5
        #
      + #
    + + #
  + + + #
+ + + + #
  + + + #
    + + #
      + #
        #

In [5]:
# Butterfly

n = int(input())

for i in range(1 , n + 1):
    stars = "* " * i
    spaces = " " * ( 4 * (n - i))
    row = stars + spaces + stars
    print(row)

for j in range(1 , n):
    stars = "* " * (n - j)
    spaces = " " * (4 * j)
    row = stars + spaces + stars
    print(row)

5
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [6]:
# Pyramid - 6

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (n - i)
    stars = "* " * i
    row = spaces + stars
    print(row)

5
    *
   * *
  * * *
 * * * *
* * * * *

In [7]:
# Pyramid - 7

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (n - i)
    number = (str(i) + " ") * i
    row = spaces + number
    print(row)

5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [8]:
# Inverted pyramid - 2

n = int(input())

for i in range(1 , n + 1):
    stars = "* " * (n + 1 - i)
    spaces = " " * (i - 1)
    row = spaces + stars
    print(row)

5
* * * * *
 * * * *
  * * *
   * *
    *

In [9]:
# Inverted Pyramid - 3

n = int(input())

print("+ " * n)
for i in range(1 , n):
    spaces = " " * (i)
    stars = "* " * (n - i)
    row = spaces + stars + spaces
    print(row)

5
+ + + + +
 * * * *
  * * *
   * *
    *

In [10]:
# Diamond

n = int(input())

for i in range(1 , n + 1):
    spaces = " " * (n - i)
    stars = "* " * i
    row = spaces + stars
    print(row)

for j in range(1 , n):
    spaces = " " * j
    stars = "* " * (n - j)
    row = spaces + stars
    print(row)

5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [11]:
# M pattern with * - 1

n = int(input())

for i in range(1 , n + 1):
    spaces1 = " " * (n - i)
    stars = "* " * (i)
    spaces2 = " " * (2 * (n - i))
    row = spaces1 + stars + spaces2 +stars
    print(row)

5
    *         *
   * *       * *
  * * *     * * *
 * * * *   * * * *
* * * * * * * * * *