# Replace the Elements

In [1]:
num_list = [(10, 20, 30), (1, 2), (5, 10, 15, 45)]
n = int(input())
new_list = []

for i in num_list:
    item = i[:-1] + (n,)
    new_list.append(item)

print(new_list)

50
[(10, 20, 50), (1, 50), (5, 10, 15, 50)]

# Remove duplicates

In [2]:
str_of_num = input().split()
result = list(set(str_of_num))
new_list = []
for i in result:
    new_list += [int(i)]
new_list.sort()
print(new_list)

5 10 15 20 10 30 15
[5, 10, 15, 20, 30]

# Remove Multiple Items

In [3]:
def convert_to_int(num_list):
    new_list = []
    for i in num_list:
        new_list += [int(i)]
    return new_list

num_set = {10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

str_of_num = input().split()
str_of_num = convert_to_int(str_of_num)

for i in str_of_num:
    num_set.discard(i)

result = list(num_set)
result.sort()
print(result)

20 40 80
[10, 30, 50, 60, 70, 90, 100]

# Common Elements

In [6]:
def convert_to_int(num):
    new_list = []
    for i in num:
        new_list += [int(i)]
    return new_list

list_a = input().split(",")
list_b = input().split(",")
list_a = convert_to_int(list_a)
list_b = convert_to_int(list_b)

result = set(list_a) & set(list_b)
result = list(result)
result.sort()
print(result)

20,5,-45,100,30
98,-45,20,5,35
[-45, 5, 20]

# Multiplies of 2 and 3

In [7]:
def multiple_of_num(k,a):
    set_mul = set()
    for i in range(1,k + 1):
        term = a * i
        set_mul.add(term)
    return set_mul

n = int(input())

mul_2 = multiple_of_num(n,2)
mul_3 = multiple_of_num(n,3)

result = mul_2 - mul_3
result = list(result)
result.sort()
print(result)

result = mul_2 ^ mul_3
result = list(result)
result.sort()
print(result)

5
[2, 4, 8, 10]
[2, 3, 4, 8, 9, 10, 12, 15]

# Convert List To tuple

In [4]:
str_a = input()
a = str_a.split(",")
i = 0
for item in a:
    a[i] = int(item)
    i += 1
print(tuple(a))

5,10,15,20,25,30
(5, 10, 15, 20, 25, 30)

# Add an item to the set

In [5]:
set_a = {"pencil"}

word = input()
set_a.update([word])

list_a = list(set_a)
list_a.sort()
print(list_a)

pen
['pen', 'pencil']