In [3]:
# 10 numbers after N

n = int(input())

for i in range(n + 1 ,n + 11):
    print(i)

2
3
4
5
6
7
8
9
10
11
12

In [2]:
# Print from M to N

m = int(input())
n = int(input())

for i in range(m , n + 1):
    print(i)

2
5
2
3
4
5

In [4]:
# sum of numbers from M to N

m = int(input())
n = int(input())

sum = 0
for i in range(m , n + 1):
    sum = sum + i

print(sum)

2
10
54

In [1]:
# square

n = int(input())

for i in range(1, n + 1):
    print("* " * n)

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [5]:
# square - 2

n = int(input())

for i in range(1 , n + 1):
    print(str(i) * n)

5
11111
22222
33333
44444
55555

In [6]:
# Rectangle

r = int(input())
c = int(input())

for i in range(1 , r + 1):
    print("*" * c)

5
4
****
****
****
****
****

In [7]:
# Right angled triangle

n = int(input())

for i in range(1 , n + 1):
    print("*" * i)

5
*
**
***
****
*****

In [8]:
# Right angled triangle - 2

n = int(input())

for i in range(1 , n + 1):
    row = str(i) + " "
    print(row * i)

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [9]:
# Right angled triangle - 3

n = int(input())

for i in range(1 , n):
    print("* " * i)
print("+ " * n)

5
*
* *
* * *
* * * *
+ + + + +

In [10]:
# two Right angled triangle s

n = int(input())

for i in range(2):
    for j in range(1 , n + 1):
        print(str(j) * j)

5
1
22
333
4444
55555
1
22
333
4444
55555