In [8]:
# print the input - 5

def print_arg(string):

    # complete this function
    print(string)



string = input()

# call the print_arg function
print_arg(string)

waghraj
waghraj

In [7]:
# welcome message

def say_wishes(arg_1):
    msg = "Welcome " + arg_1
    print(msg)

name = input()
say_wishes(name)

waghraj
Welcome waghraj

In [6]:
# Multiply with 3

def multiply_with_three(arg_1):
    print(3*arg_1)

n = int(input())
multiply_with_three(n)

5
15

In [5]:
# divisible by 7

def divisible_by_seven(arg_1):
    if arg_1 % 7 == 0:
        print("True")
    else:
        print("False")

n = int(input())
divisible_by_seven(n)

7
True

In [4]:
# between 200 and 500

def is_between_200_and_500(number):
    if number > 200 and number < 500:
        print("Yes")
    else:
        print("No")

number = int(input())

#call the is_between_200_and_500 function
is_between_200_and_500(number)

125
No

In [3]:
# discount - 2

def get_discount(amount):
    if amount < 500:
        print("5%")
    elif amount >= 500 and amount < 2500:
        print("10%")
    elif amount >= 2500:
        print("20%")


amount = int(input())
get_discount(amount)

500
10%

In [2]:
# print N integers

def print_numbers(number):
    for i in range(1 , number + 1):
        print(i)


number = int(input())

# call the print_numbers function
print_numbers(number)

5
1
2
3
4
5

In [1]:
# Even numbers or odd numbers

def show_numbers(number):
    for i in range(number + 1):
        if i % 2 == 0:
            print(str(i) + " " + "EVEN")
        else:
            print(str(i) + " " + "ODD")


number = int(input())
show_numbers(number)

5
0 EVEN
1 ODD
2 EVEN
3 ODD
4 EVEN
5 ODD