In [8]:
# string repetition

word = input()
number = int(input())
word = word + " "
print(word * number)

waghraj
5
waghraj waghraj waghraj waghraj waghraj

In [7]:
# First place

n = int(input())

n_str = str(n)
digit = int(n_str[len(n_str) - 1])

print(digit)

5
5

In [6]:
# Day Conversion

n = int(input())

years = int(n / 365)
remaining_days = n - (years * 365)

weeks = int(remaining_days / 7)
remaining_days = remaining_days - (weeks * 7)

days = remaining_days

print(str(years) + " years " + str(weeks) + " weeks " + str(days) + " days ")

5
0 years 0 weeks 5 days

In [5]:
#  Finding differnce

a = int(input())
b = int(input())

diff = a - b

if (diff > 0):
    print(diff)
else:
    print(diff * (-1))

15
25
10

In [4]:
# hand game

abhinav = input()
anjali = input()

tie = (abhinav == anjali)
result = ((abhinav == "Paper") and (anjali == "Rock")) or ((abhinav == "Scissors") and (anjali == "Paper")) or ((abhinav == "Rock") and (anjali == "Scissors"))

if tie:
    print("Tie")
elif result:
    print("Abhinav Wins")
else:
    print("Anjali Wins")

Paper
Rock
Abhinav Wins

In [3]:
#  Name of month

n = int(input())

if n == 1:
    print("January")
elif n == 2:
    print("February")
elif n == 3:
    print("March")
elif n == 4:
    print("April")
elif n == 5:
    print("May")
elif n == 6:
    print("June")
elif n == 7:
    print("July")
elif n == 8:
    print("August")
elif n == 9:
    print("September")
elif n == 10:
    print("October")
elif n == 11:
    print("November")
elif n == 12:
    print("December")
elif n < 1 or n >= 12:
    print("Invalid Month Number")

5
May

In [1]:
# triangles

a = int(input())
b = int(input())
c = int(input())

if (a == b) and (b == c):
    print("Equilateral")
elif (a == b) or (c == b) or (a == c):
    print("Isosceles")
else:
    print("Scalene")

4
5
4
Isosceles

In [2]:
# denominations

amount = int(input())

thousand = int(amount / 1000)
remaining_amount = amount - (thousand * 1000)

five_hundred = int(remaining_amount / 500)
remaining_amount = remaining_amount - (five_hundred * 500)

hundred = int(remaining_amount / 100)
remaining_amount = remaining_amount - (hundred * 100)

fifty = int(remaining_amount / 50)
remaining_amount = remaining_amount - (fifty * 50)

twenty = int(remaining_amount / 20)
remaining_amount = remaining_amount - (twenty * 20)

five = int(remaining_amount / 5)
remaining_amount = remaining_amount - (five * 5)

one = int(remaining_amount / 1)

print("1000:" + str(thousand))
print("500:" + str(five_hundred))
print("100:" + str(hundred))
print("50:" + str(fifty))
print("20:" + str(twenty))
print("5:" + str(five))
print("1:" + str(one))

8547
1000:8
500:1
100:0
50:0
20:2
5:1
1:2