# Evens and Odds

In [8]:
m = int(input())
n = int(input())

even_count = 0
odd_count = 0

for i in range(m , n + 1):
    if i % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print(odd_count)
print(even_count)

2
11
5
5

# Special Characters

In [7]:
string = input()
vowels = 0
consonants = 0

for i in string:
    if i in "AEIOUaeiou":
        vowels += 1
    else:
        if i == " ":
            consonants += 0
        else:
            consonants += 1

print(vowels)
print(consonants)

Good Morning
4
7

# One Color

In [6]:
string = input()
string = string.upper()

count_green = 0
count_red = 0

for i in string:
    if i == "G":
        count_green += 1
    elif i == "R":
        count_red += 1

if count_red > count_green:
    print(count_green)
else:
    print(count_red)

GGGGGGR
1

# Alphabetic Symbol

In [5]:
n = int(input())
k = "ABCDEFGHIJKLMOPQRSTUVWXYZ"

for i in range(1 , n + 1):
    for j in range(1 , i + 1):
        print(k[j - 1],end=" ")
    print()

5
A
A B
A B C
A B C D
A B C D E

# Right Triangle

In [4]:
n = int(input())

for i in range(1 , n + 1):
    for j in range(1 , i + 1):
        print(j,end="")
    for k in range(1, i):
        print(i - k,end="")
    print()

7
1
121
12321
1234321
123454321
12345654321
1234567654321

# Case Conversions

In [3]:
string = input()
result = string[0].lower()

for i in string[1:]:
    if i == i.upper():
        result += "_" + i.lower()
    else:
        result += i

print(result)

PythonLearning
python_learning

# Sum of Non Primes

In [2]:
n = int(input())
sum = 0

for i in range(1 , n + 1):
    factors = 0
    m = int(input())
    if m > 1:
        for j in range(2, m):
            if m % j == 0:
                factors += 1
    if not(factors==0):
        sum += m

print(sum)

5
8
11
96
49
25
178

# SandGlass Star

In [1]:
n = int(input())

for i in range(1 , n + 1):
    space = (" ") * ( i - 1 )
    stars = ("* ") * (n + 1 - i)
    row = space + stars
    print(row)
for j in range(2 , n + 1):
    space = (" ") * (n - j)
    stars = ("* ") * j
    row = space + stars
    print(row)

8
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *